<form class="{{cssClass}} item-sheet equipment" autocomplete="off">
  <header class="sheet-header">
    {{> "systems/firardfortressdev/templates/parts/items/header.hbs"}}
    <table class="sheet-header-2">
      {{> "systems/firardfortressdev/templates/parts/items/typeInput.hbs"
      cssClass="equipmentType"
      labelKey="FI.EquipmentSheet.EquipmentType"
      divClass="equipmentTypeDiv"
      iconClass="fa-shield"
      inputName="system.equipmentType"
      inputValue= data.system.equipmentType
      datalistId="equipmentTypes"
      tooltipKey="FI.EquipmentSheet.EquipmentType"
      localizePrefix="FI.EquipmentType"
      fallbackLocalizationKey="FI.EquipmentType.Label.Custom"
      data=data }}
      <tr>
        <td class="equipped">
          <label>{{localize "FI.EquipmentSheet.isEquipped"}}</label>
          <input type="checkbox" name="system.equipped" {{#if data.system.equipped}} checked {{/if}} />
        </td>
        <td class="armor-given">
          <label>{{localize "FI.EquipmentSheet.ArmorGiven"}}</label>
          <div>
            <input type="number" name="system.PA" value="{{data.system.PA}}" title="{{localize "FI.System.Attributes.PArmorGiven"}}" />
            <p>{{localize "FI.System.Attributes.PA"}}</p>
            <span>/</span>
            <input type="number" name="system.MA" value="{{data.system.MA}}" title="{{localize "FI.System.Attributes.MArmorGiven"}}" />
            <p>{{localize "FI.System.Attributes.MA"}}</p>
          </div>
        </td>
      </tr>
    </table>
  </header>
  {{> "systems/firardfortressdev/templates/parts/items/navigation.hbs"}}
  

  {{!-- Sheet Body --}}
  <main class="sheet-body">

    {{!-- Main Tab --}}
    <section class="sheet-tab tab" data-tab="main">
      {{> "systems/firardfortressdev/templates/parts/items/details.hbs"
      cssClassPrefix="equipment"
      quantityLabel="FI.System.Misc.Quantity"
      weightLabel="FI.EquipmentSheet.Weight"
      weightDescription="FI.EquipmentSheet.WeightDescription"
      weightUnit="FI.EquipmentSheet.WeightUnit"
      priceLabel="FI.EquipmentSheet.Price"
      priceUnit="FI.EquipmentSheet.PriceUnit"
      rarityLabel="FI.EquipmentSheet.Rarity" }}
    </section>

    {{!-- Description Tab --}}
    <section class="sheet-tab tab sheet-description" data-tab="description">
      {{> "systems/firardfortressdev/templates/parts/items/description.hbs"}}
    </section>
  </main>
</form>