<form class="{{cssClass}} item-sheet hybrid" autocomplete="off">
    <script>
        if (typeof inputs === 'undefined') {
            var inputs = document.querySelectorAll('input:not([type="checkbox"])');
        }
        inputs.forEach(input => {
            input.setAttribute('onkeydown', 'if (event.keyCode === 13) { this.blur(); }');
        });
    </script>
    <header class="sheet-header">
        <div class="sheet-header-1">
            <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.system.name}}"/>
            <textarea type="text" name="system.name" value="{{data.system.name}}" placeholder="{{localize "FI.HybridSheet.Name"}}">{{data.system.name}}</textarea>
        </div>
        <table class="sheet-header-2">
            <tr class="top">
                <td class="hybridType" colspan="2">
                    <label>{{localize "FI.HybridSheet.HybridType"}}</label>
                    <div class="hybridTypeDiv" title="{{localize "FI.HybridSheet.HybridType"}}">
                        <i class="fas fa-magic"></i>
                        <input type="text" name="system.hybridType" value="{{data.system.hybridType}}" list="hybridTypes" title="{{localize "FI.HybridSheet.HybridType"}}"/>
                        <script>
                            var descriptionButton = document.createElement('i');
                            var hybridTypeList = document.querySelector('#hybridTypes');
                            var translatedHybridTypes = [];
                            for (let i = 0; i < hybridTypeList.options.length; i++) {
                                translatedHybridTypes.push(game.i18n.localize(`FI.HybridType.${hybridTypeList.options[i].title}`));
                            }
                            descriptionButton.classList.add('fas', 'fa-regular', 'fa-circle-question');
                            descriptionButton.title = '';
                            descriptionButton.addEventListener('mouseover', () => {
                                const hybridType = document.querySelector('input[name="system.hybridType"]').value;
                                if (translatedHybridTypes.includes(hybridType)) {
                                    const title = hybridTypeList.querySelector(`option[value="${hybridType}"]`).title;
                                    const description = game.i18n.localize(`FI.HybridType.Label.${title}`);
                                    descriptionButton.title = description;
                                } else {
                                    descriptionButton.title = game.i18n.localize('FI.HybridType.Label.Custom');
                                }
                            });
                            document.querySelector('.hybridTypeDiv').appendChild(descriptionButton);
                        </script>
                        <datalist id="hybridTypes">
                            <option value="{{localize "FI.HybridType.Physical"}}" title="Physical"/>
                            <option value="{{localize "FI.HybridType.Magical"}}" title="Magical"/>
                        </datalist>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="MPCost">
                    <label>{{localize "FI.HybridSheet.MPCost"}}</label>
                    <input type="number" name="system.mpCost" value="{{data.system.mpCost}}" title="{{localize "FI.HybridSheet.MPCost"}}"/>
                    <label>{{localize "FI.System.MP"}}</label>
                </td>
                <td class="SPCost">
                    <label>{{localize "FI.HybridSheet.SPCost"}}</label>
                    <input type="number" name="system.spCost" value="{{data.system.spCost}}" title="{{localize "FI.HybridSheet.SPCost"}}"/>
                    <label>{{localize "FI.System.SP"}}</label>
                </td>
            </tr>
            <tr>
                <td class="HPCost">
                    <label>{{localize "FI.HybridSheet.HPCost"}}</label>
                    <input type="number" name="system.hpCost" value="{{data.system.hpCost}}" title="{{localize "FI.HybridSheet.HPCost"}}"/>
                    <label>{{localize "FI.System.HP"}}</label>
                </td>
                <td class="otherCost">
                    <label>{{localize "FI.HybridSheet.OtherCost"}}</label>
                    <input type="text" name="system.otherCost" value="{{data.system.otherCost}}" title="{{localize "FI.HybridSheet.OtherCost"}}"/>
                </td>
            </tr>
            <tr>
                <td class="range" colspan="2">
                    <div>
                        <p>{{localize "FI.System.Min"}}</p>
                        <label>{{localize "FI.HybridSheet.HybridRange"}}</label>
                        <p>{{localize "FI.System.Max"}}</p>
                    </div>
                    <div>
                        <input type="number" name="system.range.min" value="{{data.system.range.min}}"/>
                        <span>-</span>
                        <input type="number" name="system.range.max" value="{{data.system.range.max}}"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="stat">
                    <label>{{localize "FI.Stat.Label"}}</label>
                    <select name="system.stat" value="{{data.system.stat}}">
                        <option value="None">{{localize "FI.Stat.None"}}</option>
                        <option value="STR">{{localize "FI.Stat.STR"}}</option>
                        <option value="DEX">{{localize "FI.Stat.DEX"}}</option>
                        <option value="CON">{{localize "FI.Stat.CON"}}</option>
                        <option value="INT">{{localize "FI.Stat.INT"}}</option>
                        <option value="WIS">{{localize "FI.Stat.WIS"}}</option>
                        <option value="CHA">{{localize "FI.Stat.CHA"}}</option>
                        <option value="LUK">{{localize "FI.Stat.LUK"}}</option>
                        <option value="WIL">{{localize "FI.Stat.WIL"}}</option>
                        <option value="HON">{{localize "FI.Stat.HON"}}</option>
                        <script>
                                document.querySelector('select[name="system.stat"]').value = '{{data.system.stat}}';
                        </script>
                    </select>
                </td>
                <td class="value">
                    <label>{{localize "FI.System.Value"}}</label>
                    <input type="text" name="system.value" value="{{data.system.value}}"/>
                </td>
            </tr>
        </table>
    </header>
    <nav class="sheet-tabs tabs" data-group="primary">
        <ul>
            <li><a class="item" data-tab="main">{{localize "FI.System.Main"}}</a></li>
            <li><a class="item" data-tab="description">{{localize "FI.System.Description"}}</a></li>
        </ul>
    </nav>

    {{!-- Sheet Body --}}
    <main class="sheet-body">

        {{!-- Main Tab --}}
        <section class="sheet-tab tab" data-tab="main">
            <div class="rolls-label">
                <label>{{localize "FI.HybridSheet.Rolls"}}</label>
                <a class="item-roll rollable" title="{{localize "FI.Roll"}}" data-type="Hybrid"><i class="fa-duotone fa-dice-d20"></i></a>
            </div>
            <div class="rolls">
                {{#each data.system.roll as |roll|}}
                    <div class="roll">
                        <input class="number" type="number" name="system.roll.{{@index}}.dice" value="{{roll.dice}}" title="{{localize "FI.HybridSheet.Dice"}}"/>
                        <input class="dice" name="system.roll.{{@index}}.type" value="{{roll.type}}" title="{{localize "FI.HybridSheet.DiceType"}}" list="diceTypes"/>
                        <datalist id="diceTypes">
                            <option value="d4"/>
                            <option value="d6"/>
                            <option value="d8"/>
                            <option value="d10"/>
                            <option value="d12"/>
                            <option value="d20"/>
                            <option value="d100"/>
                        </datalist>
                        <span>+</span>
                        <input class="number" type="number" name="system.roll.{{@index}}.bonus" value="{{roll.bonus}}" title="{{localize "FI.HybridSheet.Bonus"}}"/>
                        <input class="text" type="text" name="system.roll.{{@index}}.damageType" value="{{roll.damageType}}" title="{{localize "FI.HybridSheet.DamageType"}}"/>
                        <button class="roll-delete" title="{{localize "FI.System.Delete"}}" data-index="{{@index}}"><i class="fas fa-trash"></i></button>
                    </div>
                {{/each}}
            </div>
            <button class="item-add" title="{{localize "FI.System.Add"}}" data-add="hybrid"><i class="fas fa-plus"></i></button>
        </section>

        {{!-- Description Tab --}}
        <section class="sheet-tab tab sheet-description" data-tab="description">
            <label>{{localize "FI.HybridSheet.Description"}}</label>
            {{editor
                data.system.description
                target="system.description"
                button=true
                editable=editable
            }}
        </section>
    </main>
</form>