<form class="{{cssClass}} item-sheet misc" autocomplete="off">
    <script>
        if (typeof inputs === 'undefined') {
            var inputs = document.querySelectorAll('input:not([type="checkbox"])');
        }
        inputs.forEach(input => {
            input.setAttribute('onkeydown', 'if (event.keyCode === 13) { this.blur(); }');
        });
    </script>
    <header class="sheet-header">
        <div class="sheet-header-1">
            <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}"/>
            <textarea type="text" name="system.name" value="{{data.system.name}}" placeholder="{{localize "FI.MiscSheet.Name"}}">{{data.system.name}}</textarea>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <main class="sheet-body">
        <table class="sheet-main">
            <tr class="top">
                <td class="miscQuantity">
                    <label>{{localize "FI.MiscSheet.Quantity"}}</label>
                    <input type="number" name="system.quantity" value="{{data.system.quantity}}" title="{{localize "FI.MiscSheet.Quantity"}}"/>
                </td>
                <td class="miscWeight">
                    <label>{{localize "FI.MiscSheet.Weight"}}</label>
                    <input type="number" name="system.weight" value="{{data.system.weight}}" title="{{localize "FI.MiscSheet.WeightDescription"}}"/>
                    <p>{{localize "FI.MiscSheet.WeightUnit"}}</p>
                </td>
            </tr>
            <tr class="bottom">
                <td class="miscPrice">
                    <label>{{localize "FI.MiscSheet.Price"}}</label>
                    <input type="number" name="system.price" value="{{data.system.price}}" title="{{localize "FI.MiscSheet.Price"}}"/>
                    <p>{{localize "FI.MiscSheet.PriceUnit"}}</p>
                </td>
                <td class="miscRarity">
                    <label>{{localize "FI.MiscSheet.Rarity"}}</label>
                    <input type="text" name="system.rarity" value="{{data.system.rarity}}" title="{{localize "FI.MiscSheet.Rarity"}}" list="rarity"/>
                    <script>
                        var descriptionButton = document.createElement('i');
                        var rarityList = document.querySelector('#rarity');
                        var translatedRarities = [];
                        for (let i = 0; i < rarityList.options.length; i++) {
                            translatedRarities.push(game.i18n.localize(`FI.Rarity.${rarityList.options[i].title}`));
                        }
                        descriptionButton.classList.add('fas', 'fa-regular', 'fa-circle-question');
                        descriptionButton.title = '';
                        descriptionButton.addEventListener('mouseover', () => {
                            const rarity = document.querySelector('input[name="system.rarity"]').value;
                            if (translatedRarities.includes(rarity)) {
                                const title = rarityList.querySelector(`option[value="${rarity}"]`).title;
                                const description = game.i18n.localize(`FI.Rarity.Label.${title}`);
                                descriptionButton.title = description;
                            } else {
                                descriptionButton.title = game.i18n.localize('FI.Rarity.Label.Custom');
                            }
                        });
                        document.querySelector('.miscRarity').appendChild(descriptionButton);
                    </script>
                    <datalist id="rarity">
                        <option value="{{localize "FI.Rarity.Common"}}" title="Common"/>
                        <option value="{{localize "FI.Rarity.Uncommon"}}" title="Uncommon"/>
                        <option value="{{localize "FI.Rarity.Special"}}" title="Special"/>
                        <option value="{{localize "FI.Rarity.Rare"}}" title="Rare"/>
                        <option value="{{localize "FI.Rarity.Unique"}}" title="Unique"/>
                        <option value="{{localize "FI.Rarity.Legendary"}}" title="Legendary"/>
                        <option value="{{localize "FI.Rarity.Genesis"}}" title="Genesis"/>
                        <option value="{{localize "FI.Rarity.Artifact"}}" title="Artifact"/>
                    </datalist>
                </td>
            </tr>
        </table>
        <section class="sheet-description" data-tab="description">
            <label>{{localize "FI.MiscSheet.Description"}}</label>
            <textarea class="richTextArea" name="system.description">{{data.system.description}}</textarea>
        </section>
    </main>
</form>

<script>
    // TinyMCE init
    tinymce.init({
        selector: '.richTextArea',
        menubar: false,
        toolbar: 'bold italic underline forecolor backcolor | fontfamily fontsize | alignleft aligncenter alignright alignjustify | bullist outdent indent | undo redo | removeformat',
        plugins: 'lists',
        min_height: 150,
        height: 150,
        setup: function (editor) {
            editor.on('change', function () {
                editor.save();
            });
        }
    });
</script>