<form class="{{cssClass}} item-sheet money" autocomplete="off">
  <header class="sheet-header">
    {{> "systems/firardfortress/templates/parts/items/header.hbs"}}
  </header>

  {{!-- Sheet Body --}}
  <main class="sheet-body">
    <table class="sheet-main">
      <tr class="top">
        <td class="moneyQuantity">
          <label>{{localize "FI.System.Misc.Quantity"}}</label>
          <input type="number" name="system.quantity" value="{{data.system.quantity}}" title="{{localize "FI.System.Misc.Quantity"}}" />
        </td>
        <td class="moneyValue">
          <label>{{localize "FI.MoneySheet.Value"}}</label>
          <input type="number" name="system.value" value="{{data.system.value}}" title="{{localize "FI.MoneySheet.ValueDescription"}}" />
          <p>{{localize "FI.System.Economy.SC"}}</p>
        </td>
      </tr>
      <tr class="bottom">
        <td class="moneyLocalisation">
          <label>{{localize "FI.MoneySheet.Localisation"}}</label>
          <input type="text" name="system.localisation" value="{{data.system.localisation}}" title="{{localize "FI.MoneySheet.Localisation"}}" />
        </td>
        <td class="moneyTotal">
          <label>{{localize "FI.MoneySheet.Total"}}</label>
          <p>{{data.system.total}}</p>
        </td>
      </tr>
    </table>
    <section class="sheet-description" data-tab="description">
      {{> "systems/firardfortress/templates/parts/items/description.hbs"}}
    </section>
  </main>
</form>