<form class="{{cssClass}} item-sheet weapon" autocomplete="off">
  <script>
      if (typeof inputs === 'undefined') {
        var inputs = document.querySelectorAll('input:not([type="checkbox"])');
      }
      inputs.forEach(input => {
        input.setAttribute('onkeydown', 'if (event.keyCode === 13) { this.blur(); }');
      });
    </script>
  <header class="sheet-header">
    {{> "systems/firardfortress/templates/parts/items/header.hbs"}}
    <table class="sheet-header-2">
      {{> "systems/firardfortress/templates/parts/items/typeInput.hbs"
      cssClass="weaponType"
      labelKey="FI.WeaponSheet.WeaponType"
      divClass="weaponTypeDiv"
      iconClass="fa-shield"
      inputName="system.weaponType"
      inputValue= data.system.weaponType
      datalistId="weaponTypes"
      tooltipKey="FI.WeaponSheet.WeaponType"
      localizePrefix="FI.WeaponType"
      fallbackLocalizationKey="FI.WeaponType.Label.Custom" }}
      <tr>
        <td class="ranged">
          <label>{{localize "FI.WeaponSheet.isRanged"}}</label>
          <input type="checkbox" name="system.ranged" {{#if data.system.ranged}} checked {{/if}} />
        </td>
        <td class="equipped">
          <label>{{localize "FI.WeaponSheet.isEquipped"}}</label>
          <input type="checkbox" name="system.equipped" {{#if data.system.equipped}} checked {{/if}} />
        </td>
      </tr>
      {{#if data.system.ranged}}
      <tr>
        <td class="range" colspan="2">
          <div>
            <p>{{localize "FI.System.Min"}}</p>
            <label>{{localize "FI.WeaponSheet.WeaponRange"}}</label>
            <p>{{localize "FI.System.Max"}}</p>
          </div>
          <div>
            <input type="number" name="system.range.min" value="{{data.system.range.min}}" />
            <p class="unit">{{localize "FI.WeaponSheet.Unit"}}</p>
            <span>-</span>
            <input type="number" name="system.range.max" value="{{data.system.range.max}}" />
            <p class="unit">{{localize "FI.WeaponSheet.Unit"}}</p>
          </div>
        </td>
      </tr>
      {{/if}}
      {{> "systems/firardfortress/templates/parts/items/statInput.hbs"}}
    </table>
  </header>
  {{> "systems/firardfortress/templates/parts/items/navigation.hbs"}}

  {{!-- Sheet Body --}}
  <main class="sheet-body">

    {{!-- Main Tab --}}
    <section class="sheet-tab tab" data-tab="main">
      {{> "systems/firardfortress/templates/parts/items/roll.hbs"}}
      {{> "systems/firardfortress/templates/parts/items/details.hbs"
      cssClassPrefix="weapon"
      quantityLabel="FI.WeaponSheet.Quantity"
      weightLabel="FI.WeaponSheet.Weight"
      weightDescription="FI.WeaponSheet.WeightDescription"
      weightUnit="FI.WeaponSheet.WeightUnit"
      priceLabel="FI.WeaponSheet.Price"
      priceUnit="FI.WeaponSheet.PriceUnit"
      rarityLabel="FI.WeaponSheet.Rarity" }}
    </section>

    {{!-- Description Tab --}}
    <section class="sheet-tab tab sheet-description" data-tab="description">
      {{> "systems/firardfortress/templates/parts/items/description.hbs"}}
    </section>
  </main>
</form>