<form class="{{cssClass}} actor-sheet NPC-sheet" autocomplete="off">
    <script>
        if (typeof inputs === 'undefined') {
            var inputs = document.querySelectorAll('input:not([type="checkbox"])');
        }
        inputs.forEach(input => {
            input.setAttribute('onkeydown', 'if (event.keyCode === 13) { this.blur(); }');
        });
    </script>
    <header class="header">
        <div class="header-left">
            <div class="header-top">
                <div class="header-top-left">
                    <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}"/>
                    <div>
                        <label>{{localize "FI.System.Name"}}</label>
                        <input type="text" name="name" value="{{data.name}}"/>
                    </div>
                </div>
                <div class="header-top-right">
                    <table>
                        <tr>
                            <td>
                                <label>{{localize "FI.System.Class"}}</label>
                                <input type="text" name="system.class" value="{{data.system.class}}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>{{localize "FI.System.Race"}}</label>
                                <input type="text" name="system.race" value="{{data.system.race}}"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="header-bottom">
                <table>
                    <tr>
                        <td>{{localize "FI.Stat.STR"}}</td>
                        <td>{{localize "FI.Stat.DEX"}}</td>
                        <td>{{localize "FI.Stat.CON"}}</td>
                    </tr>
                    <tr>
                        <td class="stat-input">
                            <div>
                                <div class="stat mainStat"><input type="number" name="system.stat.STR.value" value="{{data.system.stat.STR.value}}"/></div>
                                <div class="stat modStat"><p>{{data.system.stat.STR.mod.text}}</p></div>
                                <div class="stat"><a class="item-roll rollable" title="{{localize "FI.Roll"}} 1d20+{{data.system.stat.STR.mod.num}}" data-roll="{{data.system.stat.STR.mod.num}}" data-label="{{localize "FI.Stat.STR"}}"><i class="fa-duotone fa-dice-d20"></i></a></div>
                            </div>
                        </td>
                        <td class="stat-input">
                            <div>
                                <div class="stat mainStat"><input type="number" name="system.stat.DEX.value" value="{{data.system.stat.DEX.value}}"/></div>
                                <div class="stat modStat"><p>{{data.system.stat.DEX.mod.text}}</p></div>
                                <div class="stat"><a class="item-roll rollable" title="{{localize "FI.Roll"}} 1d20+{{data.system.stat.DEX.mod.num}}" data-roll="{{data.system.stat.DEX.mod.num}}" data-label="{{localize "FI.Stat.DEX"}}"><i class="fa-duotone fa-dice-d20"></i></a></div>
                            </div>
                        </td>
                        <td class="stat-input">
                            <div>
                                <div class="stat mainStat"><input type="number" name="system.stat.CON.value" value="{{data.system.stat.CON.value}}"/></div>
                                <div class="stat modStat"><p>{{data.system.stat.CON.mod.text}}</p></div>
                                <div class="stat"><a class="item-roll rollable" title="{{localize "FI.Roll"}} 1d20+{{data.system.stat.CON.mod.num}}" data-roll="{{data.system.stat.CON.mod.num}}" data-label="{{localize "FI.Stat.CON"}}"><i class="fa-duotone fa-dice-d20"></i></a></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>{{localize "FI.Stat.INT"}}</td>
                        <td>{{localize "FI.Stat.WIS"}}</td>
                        <td>{{localize "FI.Stat.WIL"}}</td>
                    </tr>
                    <tr>
                        <td class="stat-input">
                            <div>
                                <div class="stat mainStat"><input type="number" name="system.stat.INT.value" value="{{data.system.stat.INT.value}}"/></div>
                                <div class="stat modStat"><p>{{data.system.stat.INT.mod.text}}</p></div>
                                <div class="stat"><a class="item-roll rollable" title="{{localize "FI.Roll"}} 1d20+{{data.system.stat.INT.mod.num}}" data-roll="{{data.system.stat.INT.mod.num}}" data-label="{{localize "FI.Stat.INT"}}"><i class="fa-duotone fa-dice-d20"></i></a></div>
                            </div>
                        </td>
                        <td class="stat-input">
                            <div>
                                <div class="stat mainStat"><input type="number" name="system.stat.WIS.value" value="{{data.system.stat.WIS.value}}"/></div>
                                <div class="stat modStat"><p>{{data.system.stat.WIS.mod.text}}</p></div>
                                <div class="stat"><a class="item-roll rollable" title="{{localize "FI.Roll"}} 1d20+{{data.system.stat.WIS.mod.num}}" data-roll="{{data.system.stat.WIS.mod.num}}" data-label="{{localize "FI.Stat.WIS"}}"><i class="fa-duotone fa-dice-d20"></i></a></div>
                            </div>
                        </td>
                        <td class="stat-input">
                            <div>
                                <div class="stat mainStat"><input type="number" name="system.stat.WIL.value" value="{{data.system.stat.WIL.value}}"/></div>
                                <div class="stat modStat"><p>{{data.system.stat.WIL.mod.text}}</p></div>
                                <div class="stat"><a class="item-roll rollable" title="{{localize "FI.Roll"}} 1d20+{{data.system.stat.WIL.mod.num}}" data-roll="{{data.system.stat.WIL.mod.num}}" data-label="{{localize "FI.Stat.WIL"}}"><i class="fa-duotone fa-dice-d20"></i></a></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>{{localize "FI.Stat.CHA"}}</td>
                        <td>{{localize "FI.Stat.LUK"}}</td>
                        <td>{{localize "FI.Stat.HON"}}</td>
                    </tr>
                    <tr>
                        <td class="stat-input">
                            <div>
                                <div class="stat mainStat"><input type="number" name="system.stat.CHA.value" value="{{data.system.stat.CHA.value}}"/></div>
                                <div class="stat modStat"><p>{{data.system.stat.CHA.mod.text}}</p></div>
                                <div class="stat"><a class="item-roll rollable" title="{{localize "FI.Roll"}} 1d20+{{data.system.stat.CHA.mod.num}}" data-roll="{{data.system.stat.CHA.mod.num}}" data-label="{{localize "FI.Stat.CHA"}}"><i class="fa-duotone fa-dice-d20"></i></a></div>
                            </div>
                        </td>
                        <td class="stat-input">
                            <div>
                                <div class="stat mainStat"><input type="number" name="system.stat.LUK.value" value="{{data.system.stat.LUK.value}}"/></div>
                                <div class="stat modStat"><p>{{data.system.stat.LUK.mod.text}}</p></div>
                                <div class="stat"><a class="item-roll rollable" title="{{localize "FI.Roll"}} 1d20+{{data.system.stat.LUK.mod.num}}" data-roll="{{data.system.stat.LUK.mod.num}}" data-label="{{localize "FI.Stat.LUK"}}"><i class="fa-duotone fa-dice-d20"></i></a></div>
                            </div>
                        </td>
                        <td class="stat-input">
                            <div>
                                <div class="stat mainStat"><input type="number" name="system.stat.HON.value" value="{{data.system.stat.HON.value}}"/></div>
                                <div class="stat modStat"><p>{{data.system.stat.HON.mod.text}}</p></div>
                                <div class="stat"><a class="item-roll rollable" title="{{localize "FI.Roll"}} 1d20+{{data.system.stat.HON.mod.num}}" data-roll="{{data.system.stat.HON.mod.num}}" data-label="{{localize "FI.Stat.HON"}}"><i class="fa-duotone fa-dice-d20"></i></a></div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="stat-container header-right">
            <div class="stat label">
                <p>{{localize "FI.System.Value"}}</p>
                <span>/</span>
                <p>{{localize "FI.System.Temp"}}</p>
                <span>/</span>
                <p>{{localize "FI.System.Max"}}</p>
            </div>
            <label>
                <i class="fa-solid fa-heart-half-stroke"></i>
                {{localize "FI.System.HP"}}
            </label>
            <div class="bar HPbar">
                <div class="barValue HPbarValue"></div>
                <div class="barValue barTemp HPbarTemp"></div>
            </div>
            <div class="stat">
                <input type="number" name="system.HP.value" value="{{data.system.HP.value}}" max="{{data.system.HP.max}}"/>
                <span>/</span>
                <input type="number" name="system.HP.temp" value="{{data.system.HP.temp}}" min="0"/>
                <span>/</span>
                <input type="number" name="system.HP.max" value="{{data.system.HP.max}}"/>
            </div>
            <label>
                <img src="systems/firardfortress/icons/mana.png" alt="MP"/>
                {{localize "FI.System.MP"}}
            </label>
            <div class="bar MPbar">
                <div class="barValue MPbarValue"></div>
                <div class="barValue barTemp MPbarTemp"></div>
            </div>
            <div class="stat">
                <input type="number" name="system.MP.value" value="{{data.system.MP.value}}" max="{{data.system.MP.max}}"/>
                <span>/</span>
                <input type="number" name="system.MP.temp" value="{{data.system.MP.temp}}" min="0"/>
                <span>/</span>
                <input type="number" name="system.MP.max" value="{{data.system.MP.max}}"/>
            </div>
            <label>
                <i class="fa-solid fa-bolt"></i>
                {{localize "FI.System.SP"}}
            </label>
            <div class="bar SPbar">
                <div class="barValue SPbarValue"></div>
                <div class="barValue barTemp SPbarTemp"></div>
            </div>
            <div class="stat">
                <input type="number" name="system.SP.value" value="{{data.system.SP.value}}" max="{{data.system.SP.max}}"/>
                <span>/</span>
                <input type="number" name="system.SP.temp" value="{{data.system.SP.temp}}" min="0"/>
                <span>/</span>
                <input type="number" name="system.SP.max" value="{{data.system.SP.max}}"/>
            </div>
            <label>
                <i class="fa-duotone fa-shield-halved"></i>
                {{localize "FI.System.PA"}}
            </label>
            <div class="bar PAbar">
                <div class="barValue PAbarValue"></div>
                <div class="barValue barTemp PAbarTemp"></div>
            </div>
            <div class="stat">
                <input type="number" name="system.PA.value" value="{{data.system.PA.value}}" max="{{data.system.PA.max}}"/>
                <span>/</span>
                <input type="number" name="system.PA.temp" value="{{data.system.PA.temp}}"/>
                <span>/</span>
                <input type="number" name="system.PA.max" value="{{data.system.PA.max}}" disabled/>
            </div>
            <label>
                <img src="systems/firardfortress/icons/magicShield.png" alt="MA"/>
                {{localize "FI.System.MA"}}
            </label>
            <div class="bar MAbar">
                <div class="barValue MAbarValue"></div>
                <div class="barValue barTemp MAbarTemp"></div>
            </div>
            <div class="stat">
                <input type="number" name="system.MA.value" value="{{data.system.MA.value}}" max="{{data.system.MA.max}}"/>
                <span>/</span>
                <input type="number" name="system.MA.temp" value="{{data.system.MA.temp}}" min="0"/>
                <span>/</span>
                <input type="number" name="system.MA.max" value="{{data.system.MA.max}}" disabled/>
            </div>
        </div>
    </header>
    <footer class="sheet-footer footer">
        <span class="sheet-footer-right">
            <label>{{localize "FI.DisplayAdvancedRoll"}}</label>
            <input type="checkbox" name="system.displayAdvancedRoll" {{#if data.system.displayAdvancedRoll}}checked{{/if}}/>
        </span>
    </footer>
</form>