<form class="{{cssClass}} actor-sheet PC-sheet" autocomplete="off">
    <script>
        if (typeof inputs === 'undefined') {
            var inputs = document.querySelectorAll('input:not([type="checkbox"])');
        }
        inputs.forEach(input => {
            input.setAttribute('onkeydown', 'if (event.keyCode === 13) { this.blur(); }');
        });
    </script>
    <header class="header">
        <div class="header-left">
            <div class="header-top">
                <div class="header-top-left">
                    <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}"/>
                    <div>
                        <label>{{localize "FI.System.Name"}}</label>
                        <input type="text" name="name" value="{{data.name}}"/>
                    </div>
                </div>
                <div class="header-top-right">
                    <table>
                        <tr>
                            <td>
                                <label>{{localize "FI.System.PlayerName"}}</label>
                                <input type="text" name="system.playerName" value="{{data.system.playerName}}"/>
                            </td>
                            <td>
                                <label>{{localize "FI.System.Guild"}}</label>
                                <input type="text" name="system.guild" value="{{data.system.guild}}"/>
                            </td>
                            <td>
                                <label>{{localize "FI.System.Level"}}</label>
                                <input type="number" name="system.level" value="{{data.system.level}}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>{{localize "FI.System.Class"}}</label>
                                <input type="text" name="system.class" value="{{data.system.class}}"/>
                            </td>
                            <td>
                                <label>{{localize "FI.System.Race"}}</label>
                                <input type="text" name="system.race" value="{{data.system.race}}"/>
                            </td>
                            <td>
                                <label>{{localize "FI.Posture.Label"}}</label>
                                <select name="system.posture">
                                    <option {{#if (eq data.system.posture "")}}selected{{/if}} disabled>{{localize "FI.Posture.Select"}}</option>
                                    <option value="Offensive" {{#if (eq data.system.posture "Offensive")}}selected{{/if}}>{{localize "FI.Posture.Offensive"}}</option>
                                    <option value="Defensive" {{#if (eq data.system.posture "Defensive")}}selected{{/if}}>{{localize "FI.Posture.Defensive"}}</option>
                                    <option value="Focus" {{#if (eq data.system.posture "Focus")}}selected{{/if}}>{{localize "FI.Posture.Focus"}}</option>
                                    <option value="Concentration" {{#if (eq data.system.posture "Concentration")}}selected{{/if}}>{{localize "FI.Posture.Concentration"}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="header-bottom">
                            <td class="weight">
                                <label><strong>{{localize "FI.System.ItemWeight"}}</strong></label>
                                <span>/</span>
                                <label>{{localize "FI.System.ItemMaxWeight"}}</label>
                                <div class="weight">
                                    <input type="number" name="system.weight" value="{{data.system.weight}}" disabled/>
                                    {{localize "FI.Misc.WeightUnit"}}
                                    <span>/</span>
                                    <input type="number" name="system.maxWeight" value="{{data.system.maxWeight}}"/>
                                    {{localize "FI.Misc.WeightUnit"}}
                                </div>
                            </td>
                            <td>
                                <label>{{localize "FI.System.BaseSpeed"}}</label>
                                <input type="number" name="system.baseSpeed" value="{{data.system.baseSpeed}}"/>
                                {{localize "FI.System.SpeedUnit"}}
                            </td>
                            <td>
                                <label><strong>{{localize "FI.System.RealSpeed"}}</strong></label>
                                <input type="number" name="system.realSpeed" value="{{data.system.realSpeed}}" disabled/>
                                <strong>{{localize "FI.System.SpeedUnit"}}</strong>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="header-bottom">
                <table>
                    <tr>
                        <td colspan="4">{{localize "FI.Stat.STR"}}</td>
                        <td colspan="4">{{localize "FI.Stat.DEX"}}</td>
                        <td colspan="4">{{localize "FI.Stat.CON"}}</td>
                        <td colspan="4">{{localize "FI.Stat.INT"}}</td>
                        <td colspan="4">{{localize "FI.Stat.WIS"}}</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="stat-input">
                            <div>
                                <div class="stat mainStat"><input type="number" name="system.stat.STR.value" value="{{data.system.stat.STR.value}}"/></div>
                                <div class="stat modStat"><p>{{data.system.stat.STR.mod.text}}</p></div>
                                <div class="stat"><a class="item-roll rollable" title="{{localize "FI.System.Roll"}} 1d20+{{data.system.stat.STR.mod.num}}" data-roll="{{data.system.stat.STR.mod.num}}" data-label="{{localize "FI.Stat.STR"}}" data-type="STR" data-rollType="Stat"><i class="fa-duotone fa-dice-d20"></i></a></div>
                            </div>
                        </td>
                        <td colspan="4" class="stat-input">
                            <div>
                                <div class="stat mainStat"><input type="number" name="system.stat.DEX.value" value="{{data.system.stat.DEX.value}}"/></div>
                                <div class="stat modStat"><p>{{data.system.stat.DEX.mod.text}}</p></div>
                                <div class="stat"><a class="item-roll rollable" title="{{localize "FI.System.Roll"}} 1d20+{{data.system.stat.DEX.mod.num}}" data-roll="{{data.system.stat.DEX.mod.num}}" data-label="{{localize "FI.Stat.DEX"}}" data-type="DEX" data-rollType="Stat"><i class="fa-duotone fa-dice-d20"></i></a></div>
                            </div>
                        </td>
                        <td colspan="4" class="stat-input">
                            <div>
                                <div class="stat mainStat"><input type="number" name="system.stat.CON.value" value="{{data.system.stat.CON.value}}"/></div>
                                <div class="stat modStat"><p>{{data.system.stat.CON.mod.text}}</p></div>
                                <div class="stat"><a class="item-roll rollable" title="{{localize "FI.System.Roll"}} 1d20+{{data.system.stat.CON.mod.num}}" data-roll="{{data.system.stat.CON.mod.num}}" data-label="{{localize "FI.Stat.CON"}}" data-type="CON" data-rollType="Stat"><i class="fa-duotone fa-dice-d20"></i></a></div>
                            </div>
                        </td>
                        <td colspan="4" class="stat-input">
                            <div>
                                <div class="stat mainStat"><input type="number" name="system.stat.INT.value" value="{{data.system.stat.INT.value}}"/></div>
                                <div class="stat modStat"><p>{{data.system.stat.INT.mod.text}}</p></div>
                                <div class="stat"><a class="item-roll rollable" title="{{localize "FI.System.Roll"}} 1d20+{{data.system.stat.INT.mod.num}}" data-roll="{{data.system.stat.INT.mod.num}}" data-label="{{localize "FI.Stat.INT"}}" data-type="INT" data-rollType="Stat"><i class="fa-duotone fa-dice-d20"></i></a></div>
                            </div>
                        </td>
                        <td colspan="4" class="stat-input">
                            <div>
                                <div class="stat mainStat"><input type="number" name="system.stat.WIS.value" value="{{data.system.stat.WIS.value}}"/></div>
                                <div class="stat modStat"><p>{{data.system.stat.WIS.mod.text}}</p></div>
                                <div class="stat"><a class="item-roll rollable" title="{{localize "FI.System.Roll"}} 1d20+{{data.system.stat.WIS.mod.num}}" data-roll="{{data.system.stat.WIS.mod.num}}" data-label="{{localize "FI.Stat.WIS"}}" data-type="WIS" data-rollType="Stat"><i class="fa-duotone fa-dice-d20"></i></a></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">{{localize "FI.Stat.CHA"}}</td>
                        <td colspan="5">{{localize "FI.Stat.LUK"}}</td>
                        <td colspan="5">{{localize "FI.Stat.WIL"}}</td>
                        <td colspan="5">{{localize "FI.Stat.HON"}}</td>
                    </tr>
                    <tr>
                        <td colspan="5" class="stat-input">
                            <div>
                                <div class="stat mainStat"><input type="number" name="system.stat.CHA.value" value="{{data.system.stat.CHA.value}}"/></div>
                                <div class="stat modStat"><p>{{data.system.stat.CHA.mod.text}}</p></div>
                                <div class="stat"><a class="item-roll rollable" title="{{localize "FI.System.Roll"}} 1d20+{{data.system.stat.CHA.mod.num}}" data-roll="{{data.system.stat.CHA.mod.num}}" data-label="{{localize "FI.Stat.CHA"}}" data-type="CHA" data-rollType="Stat"><i class="fa-duotone fa-dice-d20"></i></a></div>
                            </div>
                        </td>
                        <td colspan="5" class="stat-input">
                            <div>
                                <div class="stat mainStat"><input type="number" name="system.stat.LUK.value" value="{{data.system.stat.LUK.value}}"/></div>
                                <div class="stat modStat"><p>{{data.system.stat.LUK.mod.text}}</p></div>
                                <div class="stat"><a class="item-roll rollable" title="{{localize "FI.System.Roll"}} 1d20+{{data.system.stat.LUK.mod.num}}" data-roll="{{data.system.stat.LUK.mod.num}}" data-label="{{localize "FI.Stat.LUK"}}" data-type="LUK" data-rollType="Stat"><i class="fa-duotone fa-dice-d20"></i></a></div>
                            </div>
                        </td>
                        <td colspan="5" class="stat-input">
                            <div>
                                <div class="stat mainStat"><input type="number" name="system.stat.WIL.value" value="{{data.system.stat.WIL.value}}"/></div>
                                <div class="stat modStat"><p>{{data.system.stat.WIL.mod.text}}</p></div>
                                <div class="stat"><a class="item-roll rollable" title="{{localize "FI.System.Roll"}} 1d20+{{data.system.stat.WIL.mod.num}}" data-roll="{{data.system.stat.WIL.mod.num}}" data-label="{{localize "FI.Stat.WIL"}}" data-type="WIL" data-rollType="Stat"><i class="fa-duotone fa-dice-d20"></i></a></div>
                            </div>
                        </td>
                        <td colspan="5" class="stat-input">
                            <div>
                                <div class="stat mainStat"><input type="number" name="system.stat.HON.value" value="{{data.system.stat.HON.value}}"/></div>
                                <div class="stat modStat"><p>{{data.system.stat.HON.mod.text}}</p></div>
                                <div class="stat"><a class="item-roll rollable" title="{{localize "FI.System.Roll"}} 1d20+{{data.system.stat.HON.mod.num}}" data-roll="{{data.system.stat.HON.mod.num}}" data-label="{{localize "FI.Stat.HON"}}" data-type="HON" data-rollType="Stat"><i class="fa-duotone fa-dice-d20"></i></a></div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="stat-container header-right">
            <div class="stat label">
                <p>{{localize "FI.System.Value"}}</p>
                <span>/</span>
                <p>{{localize "FI.System.Temp"}}</p>
                <span>/</span>
                <p>{{localize "FI.System.Max"}}</p>
            </div>
            <label>
                <i class="fa-solid fa-heart-half-stroke"></i>
                {{localize "FI.System.HP"}}
            </label>
            <div class="bar HPbar">
                <div class="barValue HPbarValue"></div>
                <div class="barValue barTemp HPbarTemp"></div>
            </div>
            <div class="stat">
                <input type="number" name="system.HP.value" value="{{data.system.HP.value}}" max="{{data.system.HP.max}}"/>
                <span>/</span>
                <input type="number" name="system.HP.temp" value="{{data.system.HP.temp}}" min="0"/>
                <span>/</span>
                <input type="number" name="system.HP.max" value="{{data.system.HP.max}}"/>
            </div>
            <label>
                <svg version="1.0" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet"> <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none"> <path d="M3725 4807 c-14 -11 -17 -21 -12 -46 14 -68 142 -232 210 -267 50 -27 117 14 117 72 0 44 -69 144 -129 189 -85 61 -148 79 -186 52z"/> <path d="M2540 4753 c-75 -8 -362 -64 -485 -94 -129 -31 -132 -31 -485 -39 -312 -7 -365 -10 -437 -29 -164 -41 -300 -122 -395 -233 -116 -135 -162 -178 -221 -208 -33 -16 -72 -30 -87 -30 -59 0 -64 -56 -10 -106 39 -38 88 -54 185 -60 111 -8 144 -20 160 -56 18 -45 6 -81 -64 -188 -179 -275 -312 -615 -372 -955 -30 -170 -38 -540 -15 -710 38 -276 76 -427 136 -546 31 -60 91 -68 146 -19 19 16 46 33 60 36 71 18 175 -54 257 -178 68 -102 91 -169 112 -323 42 -319 88 -423 226 -514 139 -91 499 -173 759 -172 222 0 319 38 306 120 -9 62 -49 86 -167 99 -141 15 -227 56 -323 155 -95 97 -154 201 -253 444 -45 111 -123 282 -172 380 -117 229 -134 289 -135 483 l-1 145 46 95 c29 60 64 115 97 150 59 63 61 59 36 -60 -28 -133 3 -315 80 -469 48 -95 81 -131 118 -131 44 0 64 15 84 62 15 37 17 69 16 216 -3 223 -2 224 155 380 104 103 126 131 182 232 84 151 129 215 188 272 67 65 141 100 222 105 79 5 124 -17 147 -73 24 -58 10 -94 -71 -185 -169 -189 -268 -424 -295 -699 -20 -192 17 -367 105 -506 74 -117 276 -285 430 -360 92 -44 253 -96 385 -125 87 -19 135 -23 280 -23 182 1 250 10 382 55 271 91 594 353 700 567 35 70 42 94 46 161 4 76 3 80 -21 95 -35 24 -73 5 -128 -63 -55 -69 -151 -135 -218 -151 -151 -36 -134 42 70 310 156 205 237 376 304 645 83 329 89 735 15 1027 -70 271 -173 446 -334 565 -53 39 -62 42 -100 37 -22 -3 -48 -15 -57 -25 -16 -17 -15 -25 12 -109 64 -199 16 -350 -111 -350 -104 0 -191 106 -307 375 -48 111 -93 182 -163 258 -148 162 -373 274 -623 311 -95 15 -305 19 -397 9z m-745 -920 c112 -40 144 -45 236 -38 82 6 88 5 108 -16 25 -27 28 -81 5 -104 -21 -20 -62 -41 -212 -105 -147 -63 -215 -105 -305 -190 -86 -80 -166 -177 -296 -357 -56 -78 -123 -163 -149 -188 -83 -83 -181 -117 -224 -78 -35 31 -17 197 39 363 94 280 345 636 496 705 109 50 179 52 302 8z m1370 -115 c18 -18 60 -78 91 -133 128 -224 232 -361 437 -573 242 -250 288 -349 288 -613 -1 -332 -119 -599 -327 -738 -93 -62 -264 -121 -352 -121 -214 0 -426 159 -493 369 -43 135 -22 338 47 458 69 119 192 198 233 149 6 -7 15 -46 20 -86 7 -52 16 -79 32 -96 59 -63 160 -48 202 29 21 39 22 54 21 222 -1 256 -22 338 -166 655 -82 180 -142 343 -154 418 -6 36 -3 47 16 67 32 34 64 31 105 -7z m492 -105 c128 -138 243 -276 249 -298 13 -50 -42 -96 -99 -81 -60 15 -187 149 -237 250 -32 62 -40 132 -18 154 24 24 69 14 105 -25z m-2730 -1327 c24 -21 28 -32 31 -95 2 -39 1 -87 -2 -106 -9 -46 -48 -91 -93 -106 -72 -23 -136 40 -136 135 0 56 30 136 65 173 30 32 97 32 135 -1z"/> <path d="M4687 2349 c-23 -13 -47 -62 -47 -94 0 -33 24 -81 45 -89 37 -14 86 -6 110 19 20 19 25 34 25 75 0 41 -5 56 -25 75 -26 27 -75 33 -108 14z"/> <path d="M655 1303 c-30 -7 -73 -52 -80 -83 -9 -40 18 -96 54 -114 40 -21 69 -20 108 4 71 43 64 154 -12 186 -36 15 -37 15 -70 7z"/> <path d="M2186 951 c-44 -5 -63 -12 -77 -30 -25 -31 -24 -54 6 -100 33 -53 71 -80 198 -141 101 -48 116 -59 245 -183 176 -170 229 -196 398 -197 93 0 189 16 389 66 167 42 227 67 260 106 44 52 28 150 -29 176 -51 23 -144 41 -266 52 -151 13 -188 24 -352 106 -70 35 -167 75 -214 89 -144 42 -432 71 -558 56z"/><path d="M4008 721 c-27 -24 -33 -36 -33 -71 0 -35 6 -47 33 -71 79 -70 197 -7 178 95 -15 77 -115 103 -178 47z"/></g></svg>
                {{localize "FI.System.MP"}}
            </label>
            <div class="bar MPbar">
                <div class="barValue MPbarValue"></div>
                <div class="barValue barTemp MPbarTemp"></div>
            </div>
            <div class="stat">
                <input type="number" name="system.MP.value" value="{{data.system.MP.value}}" max="{{data.system.MP.max}}"/>
                <span>/</span>
                <input type="number" name="system.MP.temp" value="{{data.system.MP.temp}}" min="0"/>
                <span>/</span>
                <input type="number" name="system.MP.max" value="{{data.system.MP.max}}"/>
            </div>
            <label>
                <i class="fa-solid fa-bolt"></i>
                {{localize "FI.System.SP"}}
            </label>
            <div class="bar SPbar">
                <div class="barValue SPbarValue"></div>
                <div class="barValue barTemp SPbarTemp"></div>
            </div>
            <div class="stat">
                <input type="number" name="system.SP.value" value="{{data.system.SP.value}}" max="{{data.system.SP.max}}"/>
                <span>/</span>
                <input type="number" name="system.SP.temp" value="{{data.system.SP.temp}}" min="0"/>
                <span>/</span>
                <input type="number" name="system.SP.max" value="{{data.system.SP.max}}"/>
            </div>
            <label>
                <i class="fa-duotone fa-shield-halved"></i>
                {{localize "FI.System.PA"}}
            </label>
            <div class="bar PAbar">
                <div class="barValue PAbarValue"></div>
                <div class="barValue barTemp PAbarTemp"></div>
            </div>
            <div class="stat">
                <input type="number" name="system.PA.value" value="{{data.system.PA.value}}" max="{{data.system.PA.max}}"/>
                <span>/</span>
                <input type="number" name="system.PA.temp" value="{{data.system.PA.temp}}"/>
                <span>/</span>
                <input type="number" name="system.PA.max" value="{{data.system.PA.max}}" disabled/>
            </div>
            <label>
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="800.000000pt" height="800.000000pt" viewBox="0 0 800.000000 800.000000"  preserveAspectRatio="xMidYMid meet"> <g transform="translate(0.000000,800.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none"> <path d="M7090 7613 c-136 -29 -525 -95 -755 -127 -685 -97 -1544 -156 -2279 -156 -1000 0 -2116 101 -2958 267 -103 20 -189 35 -192 33 -8 -10 -27 -485 -33 -859 -6 -376 -6 -384 13 -377 105 41 172 51 324 50 141 0 163 -3 240 -28 266 -87 464 -268 569 -521 43 -104 63 -203 64 -330 5 -402 -270 -752 -673 -856 -110 -28 -301 -31 -404 -6 -38 10 -71 15 -74 12 -9 -8 36 -360 74 -590 139 -831 355 -1407 697 -1860 88 -116 315 -339 439 -431 191 -142 340 -224 923 -513 319 -157 439 -227 595 -347 110 -84 261 -232 335 -328 28 -36 52 -65 55 -65 3 -1 25 25 50 57 65 83 194 215 282 289 162 135 319 228 698 416 604 299 750 385 976 574 529 443 853 1137 1033 2208 33 198 84 586 77 593 -3 2 -35 -4 -73 -14 -100 -26 -291 -24 -402 5 -336 88 -586 346 -656 682 -22 103 -19 275 5 379 80 332 362 601 698 666 144 27 329 12 455 -37 l49 -20 -6 268 c-10 431 -28 915 -35 954 l-6 35 -105 -23z m-1646 -1314 c-114 -393 -210 -717 -214 -722 -5 -6 -264 64 -275 75 -2 1 36 138 85 303 48 165 86 301 85 303 -2 2 -298 -218 -660 -488 -361 -270 -660 -490 -665 -488 -5 2 -46 52 -90 112 -69 91 -80 110 -68 122 22 22 2003 1502 2006 1499 2 -1 -90 -324 -204 -716z m-2359 243 c336 -244 616 -449 622 -456 10 -9 -4 -35 -67 -121 -44 -61 -85 -111 -90 -113 -5 -2 -124 81 -265 183 -141 103 -258 185 -261 183 -2 -3 115 -359 261 -792 146 -433 265 -794 265 -801 0 -8 -52 -31 -135 -58 -74 -25 -135 -44 -135 -43 0 1 -187 557 -415 1236 -228 678 -415 1235 -415 1237 0 7 4 4 635 -455z m2568 -1857 l1003 -760 -241 -3 c-132 -2 -475 0 -762 3 l-523 7 0 144 0 144 324 2 323 3 -654 494 c-401 304 -652 500 -649 507 10 25 161 223 169 221 4 -1 459 -344 1010 -762z m-2830 45 c74 -104 74 -104 53 -120 -11 -9 -138 -99 -281 -201 l-260 -184 818 -3 817 -2 0 -145 0 -145 -1272 0 c-786 0 -1268 4 -1262 9 5 5 297 215 649 465 505 360 642 453 652 443 7 -6 45 -59 86 -117z m1888 -241 c80 -25 129 -46 129 -54 0 -10 -513 -1629 -751 -2373 -6 -18 -12 -32 -14 -30 -12 12 -484 1493 -478 1498 8 7 266 91 269 87 1 -1 45 -137 98 -302 112 -349 105 -329 111 -324 2 3 113 346 246 764 133 418 243 763 246 768 6 10 2 11 144 -34z"/> </g> </svg>
                {{localize "FI.System.MA"}}
            </label>
            <div class="bar MAbar">
                <div class="barValue MAbarValue"></div>
                <div class="barValue barTemp MAbarTemp"></div>
            </div>
            <div class="stat">
                <input type="number" name="system.MA.value" value="{{data.system.MA.value}}" max="{{data.system.MA.max}}"/>
                <span>/</span>
                <input type="number" name="system.MA.temp" value="{{data.system.MA.temp}}" min="0"/>
                <span>/</span>
                <input type="number" name="system.MA.max" value="{{data.system.MA.max}}" disabled/>
            </div>
        </div>
    </header>

    {{!-- Sheet Nav --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <ul>
            <li><a class="item" data-tab="main">{{localize "FI.System.Main"}}</a></li>
            <li><a class="item" data-tab="proficiencies">{{localize "FI.System.Proficiencies"}}</a></li>
            <li><a class="item" data-tab="spells">{{localize "FI.System.Spells"}}</a></li>
            <li><a class="item" data-tab="notes">{{localize "FI.System.Notes"}}</a></li>
        </ul>
    </nav>

    {{!-- Sheet Body --}}
    <main class="sheet-body">

        {{!-- Main Tab --}}
        <section class="sheet-tab tab" data-tab="main">
            <div class="main-tab">
                <table class="main-tab">
                    <tr>
                        <td colspan="2">
                            <div class="container weapon">
                                <label class="weapon-label container-label">
                                    <p>{{localize "FI.Weapon.Label"}}</p>
                                </label>
                                <table class="weapon-tab">
                                    <tr>
                                        <th class="image">{{localize "FI.Weapon.Image"}}</th>
                                        <th>{{localize "FI.Weapon.Name"}}</th>
                                        <th class="medium">{{localize "FI.Weapon.Stat"}}</th>
                                        <th class="small">{{localize "FI.System.Equipped"}}</th>
                                        <th class="small">{{localize "FI.Weapon.Quantity"}}</th>
                                        <th class="small">{{localize "FI.Weapon.Roll"}}</th>
                                        <th class="small">{{localize "FI.System.Move"}}</th>
                                        <th class="small">{{localize "FI.System.Delete"}}</th>
                                    </tr>
                                    {{#each items as |weapon index|}}
                                        {{#if weapon.system.isWeapon}}
                                            <tr>
                                                <td class="edit-item" data-id="{{weapon._id}}">
                                                    <img src="{{weapon.img}}" alt="{{weapon.system.name}}"/>
                                                </td>
                                                <td class="edit-item" data-id="{{weapon._id}}">
                                                    <p>{{weapon.system.name}}</p>
                                                </td>
                                                <td class="edit-item medium" data-id="{{weapon._id}}">
                                                    <p>{{localize (concat "FI.Stat." weapon.system.stat)}}</p>
                                                </td>
                                                <td class="small">
                                                    {{#if weapon.system.equipped}}
                                                        <i class="fa-solid fa-check item-checkbox" data-id="{{weapon._id}}" data-type="equipped"></i>
                                                    {{else}}
                                                        <i class="fa-solid fa-times item-checkbox" data-id="{{weapon._id}}" data-type="equipped"></i>
                                                    {{/if}}
                                                </td>
                                                <td class="small">
                                                    <input class="item-input"type="number" name="system.weapons.{{index}}.quantity" value="{{weapon.system.quantity}}" data-id="{{weapon._id}}" data-field="system.quantity"/>
                                                </td>
                                                <td>
                                                    <a class="item-roll rollable" title="{{localize "FI.System.Roll"}}" data-id="{{weapon._id}}" data-label="{{weapon.system.name}}" data-type="{{weapon.system.stat}}" data-rollType="Weapon" data-roll="{{weapon.system.stat}}"><i class="fa-duotone fa-dice-d20"></i></a>
                                                </td>
                                                <td>
                                                    <a class="move small" data-type="up" data-move="Weapon" data-id="{{weapon._id}}"><i class="fa-duotone fa-arrow-up"></i></a>
                                                    <a class="move small" data-type="down" data-move="Weapon" data-id="{{weapon._id}}"><i class="fa-duotone fa-arrow-down"></i></a>
                                                </td>
                                                <td>
                                                    <a class="delete small" data-delete="Weapon" data-id="{{weapon._id}}"><i class="fa-duotone fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        {{/if}}
                                    {{/each}}
                                    <tr>
                                        <td colspan="6">
                                            <button class="add" data-add="Weapon"><i class="fa-duotone fa-plus"></i></button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="container equipment">
                                <label class="equipment-label container-label">
                                    <p>{{localize "FI.Equipment.Label"}}</p>
                                </label>
                                <table class="equipment-tab">
                                    <tr>
                                        <th class="image">{{localize "FI.Equipment.Image"}}</th>
                                        <th>{{localize "FI.Equipment.Name"}}</th>
                                        <th class="medium">{{localize "FI.Equipment.ArmorGiven"}}</th>
                                        <th class="medium">{{localize "FI.Equipment.Type"}}</th>
                                        <th class="small">{{localize "FI.System.Equipped"}}</th>
                                        <th class="small">{{localize "FI.System.Quantity"}}</th>
                                        <th class="small">{{localize "FI.System.Move"}}</th>
                                        <th class="small">{{localize "FI.System.Delete"}}</th>
                                    </tr>
                                    {{#each items as |equipment index|}}
                                        {{#if equipment.system.isEquipment}}
                                            <tr>
                                                <td class="edit-item" data-id="{{equipment._id}}">
                                                    <img src="{{equipment.img}}" alt="{{equipment.system.name}}"/>
                                                </td>
                                                <td class="edit-item" data-id="{{equipment._id}}">
                                                    <p>{{equipment.system.name}}</p>
                                                </td>
                                                <td class="edit-item medium armor" data-id="{{equipment._id}}">
                                                    <p>{{equipment.system.PA}}</p>{{localize "FI.System.PA"}}
                                                    <span>/</span>
                                                    <p>{{equipment.system.MA}}</p>{{localize "FI.System.MA"}}
                                                </td>
                                                <td class="edit-item medium" data-id="{{equipment._id}}">
                                                    <p>{{equipment.system.equipmentType}}</p>
                                                </td>
                                                <td class="small" data-id="{{equipment._id}}">
                                                    {{#if equipment.system.equipped}}
                                                        <i class="fa-solid fa-check item-checkbox" data-id="{{equipment._id}}" data-type="equipped"></i>
                                                    {{else}}
                                                        <i class="fa-solid fa-times item-checkbox" data-id="{{equipment._id}}" data-type="equipped"></i>
                                                    {{/if}}
                                                </td>
                                                <td class="small" data-id="{{equipment._id}}">
                                                    <input class="item-input" type="number" name="system.equipment.{{index}}.quantity" value="{{equipment.system.quantity}}" data-id="{{equipment._id}}" data-field="system.quantity"/>
                                                </td>
                                                <td>
                                                    <a class="move small" data-type="up" data-move="Equipment" data-id="{{equipment._id}}"><i class="fa-duotone fa-arrow-up"></i></a>
                                                    <a class="move small" data-type="down" data-move="Equipment" data-id="{{equipment._id}}"><i class="fa-duotone fa-arrow-down"></i></a>
                                                </td>
                                                <td>
                                                    <a class="delete small" data-delete="Equipment" data-id="{{equipment._id}}"><i class="fa-duotone fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        {{/if}}
                                    {{/each}}
                                    <tr>
                                        <td colspan="6">
                                            <button class="add" data-add="Equipment"><i class="fa-duotone fa-plus"></i></button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="container misc">
                                <label class="misc-label container-label">
                                    <p>{{localize "FI.Misc.Label"}}</p>
                                </label>
                                <table class="misc-tab">
                                    <tr>
                                        <th class="image">{{localize "FI.Misc.Image"}}</th>
                                        <th>{{localize "FI.Misc.Name"}}</th>
                                        <th class="small">{{localize "FI.System.Quantity"}}</th>
                                        <th class="small">{{localize "FI.System.Move"}}</th>
                                        <th class="small">{{localize "FI.System.Delete"}}</th>
                                    </tr>
                                    {{#each items as |misc index|}}
                                        {{#if misc.system.isMisc}}
                                            <tr>
                                                <td class="edit-item" data-id="{{misc._id}}">
                                                    <img src="{{misc.img}}" alt="{{misc.system.name}}"/>
                                                </td>
                                                <td class="edit-item" data-id="{{misc._id}}">
                                                    <p>{{misc.system.name}}</p>
                                                </td>
                                                <td class="edit-item small" data-id="{{misc._id}}">
                                                    <input type="number" name="system.misc.{{index}}.quantity" value="{{misc.system.quantity}}"/>
                                                </td>
                                                <td class="small" data-id="{{misc._id}}">
                                                    <a class="move small" data-type="up" data-move="Misc" data-id="{{misc._id}}"><i class="fa-duotone fa-arrow-up"></i></a>
                                                    <a class="move small" data-type="down" data-move="Misc" data-id="{{misc._id}}"><i class="fa-duotone fa-arrow-down"></i></a>
                                                </td>
                                                <td class="small" data-id="{{misc._id}}">
                                                    <a class="delete small" data-delete="Misc" data-id="{{misc._id}}"><i class="fa-duotone fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        {{/if}}
                                    {{/each}}
                                    <tr>
                                        <td colspan="4">
                                            <button class="add" data-add="Misc"><i class="fa-duotone fa-plus"></i></button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td>
                            <div class="container money">
                                <label class="money-label container-label">
                                    <p>{{localize "FI.Money.Label"}}</p>
                                </label>
                                <table class="money-tab">
                                    <tr>
                                        <th>{{localize "FI.Money.Name"}}</th>
                                        <th>{{localize "FI.Money.Value"}}</th>
                                        <th>{{localize "FI.System.Quantity"}}</th>
                                        <th class="small">{{localize "FI.System.Move"}}</th>
                                        <th class="small">{{localize "FI.System.Delete"}}</th>
                                    </tr>
                                    {{#each items as |money index|}}
                                        {{#if money.system.isMoney}}
                                            <tr>
                                                <td class="edit-item" data-id="{{money._id}}">
                                                    <p>{{money.system.name}}</p>
                                                </td>
                                                <td class="edit-item" data-id="{{money._id}}">
                                                    <p>{{money.system.value}} {{localize "FI.System.SC"}}</p>
                                                </td>
                                                <td class="edit-item" data-id="{{money._id}}">
                                                    <input type="number" name="system.money.{{index}}.quantity" value="{{money.system.quantity}}"/>
                                                </td>
                                                <td>
                                                    <a class="move small" data-type="up" data-move="Money" data-id="{{money._id}}"><i class="fa-duotone fa-arrow-up"></i></a>
                                                    <a class="move small" data-type="down" data-move="Money" data-id="{{money._id}}"><i class="fa-duotone fa-arrow-down"></i></a>
                                                </td>
                                                <td>
                                                    <a class="delete small" data-delete="Money" data-id="{{money._id}}"><i class="fa-duotone fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        {{/if}}
                                    {{/each}}
                                    <tr>
                                        <td colspan="4">
                                            <button class="add" data-add="Money"><i class="fa-duotone fa-plus"></i></button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </section>

        {{!-- Proficiencies Tab --}}
        <section class="sheet-tab tab" data-tab="proficiencies">
            <div class="proficiency-tab">
                <table class="proficiency-table container-label">
                    <tr>
                        <th class="image">{{localize "FI.Proficiency.Image"}}</th>
                        <th>{{localize "FI.Proficiency.Name"}}</th>
                        <th class="medium">{{localize "FI.Proficiency.Stat"}}</th>
                        <th class="medium">{{localize "FI.Proficiency.Bonus"}}</th>
                        <th class="small">{{localize "FI.Proficiency.Roll"}}</th>
                        <th class="small">{{localize "FI.System.Move"}}</th>
                        <th class="small">{{localize "FI.System.Delete"}}</th>
                    </tr>
                    {{#each items as |proficiency index|}}
                        {{#if proficiency.system.isProficiency}}
                            <tr>
                                <td class="edit-item" data-id="{{proficiency._id}}">
                                    <img src="{{proficiency.img}}" alt="{{proficiency.system.name}}"/>
                                </td>
                                <td class="edit-item" data-id="{{proficiency._id}}">
                                    <p>{{proficiency.system.name}}</p>
                                </td>
                                <td class="edit-item medium" data-id="{{proficiency._id}}">
                                    <p>{{localize (concat "FI.Stat." proficiency.system.stat)}}</p>
                                </td>
                                <td class="edit-item medium" data-id="{{proficiency._id}}">
                                    <p>{{proficiency.system.value}}</p>
                                </td>
                                <td>
                                    <a class="item-roll rollable" title="{{localize "FI.System.Roll"}}" data-id="{{proficiency._id}}" data-label="{{proficiency.system.name}}" data-type="{{proficiency.system.stat}}" data-rollType="Proficiency" data-roll="{{proficiency.system.value}}"><i class="fa-duotone fa-dice-d20"></i></a>
                                </td>
                                <td>
                                    <a class="move small" data-type="up" data-move="Proficiency" data-id="{{proficiency._id}}"><i class="fa-duotone fa-arrow-up"></i></a>
                                    <a class="move small" data-type="down" data-move="Proficiency" data-id="{{proficiency._id}}"><i class="fa-duotone fa-arrow-down"></i></a>
                                </td>
                                <td>
                                    <a class="delete small" data-delete="Proficiency" data-id="{{proficiency._id}}"><i class="fa-duotone fa-trash"></i></a>
                                </td>
                            </tr>
                        {{/if}}
                    {{/each}}
                    <tr>
                        <td class="add-item" colspan="6">
                            <button class="add" data-add="Proficiency"><i class="fa-duotone fa-plus"></i></button>
                        </td>
                    </tr>
                </table>
            </div>
        </section>

        {{!-- Spells Tab --}}
        <section class="sheet-tab tab" data-tab="spells">
            <div class="spell-tab">
                <div class="spell-table">
                    <label class="spell-label container-label">
                        <p>{{localize "FI.System.Spell"}}</p>
                    </label>
                    <table class="spell-table">
                        <tr>
                            <th class="image">{{localize "FI.Spell.Image"}}</th>
                            <th>{{localize "FI.Spell.Name"}}</th>
                            <th class="medium">{{localize "FI.Spell.Cost"}}</th>
                            <th class="medium">{{localize "FI.Spell.Stat"}}</th>
                            <th class="small">{{localize "FI.Spell.Roll"}}</th>
                            <th class="small">{{localize "FI.System.Move"}}</th>
                            <th class="small">{{localize "FI.System.Delete"}}</th>
                        </tr>
                        {{#each items as |spell index|}}
                            {{#if spell.system.isSpell}}
                                <tr>
                                    <td class="edit-item" data-id="{{spell._id}}">
                                        <img src="{{spell.img}}" alt="{{spell.system.name}}"/>
                                    </td>
                                    <td class="edit-item" data-id="{{spell._id}}">
                                        <p>{{spell.system.name}}</p>
                                    </td>
                                    <td class="edit-item" data-id="{{spell._id}}">
                                        <p>{{spell.system.mpCost}} {{localize "FI.System.MP"}}</p>
                                    </td>
                                    <td class="edit-item" data-id="{{spell._id}}">
                                        <p>{{localize (concat "FI.Stat." spell.system.stat)}}</p>
                                    </td>
                                    <td>
                                        <a class="item-roll rollable" title="{{localize "FI.System.Roll"}}" data-id="{{spell._id}}" data-label="{{spell.name}}" data-type="{{spell.system.stat}}" data-rollType="Spell" data-roll="{{spell.system.stat}}"><i class="fa-duotone fa-dice-d20"></i></a>
                                    </td>
                                    <td>
                                        <a class="move small" data-type="up" data-move="Spell" data-id="{{spell._id}}"><i class="fa-duotone fa-arrow-up"></i></a>
                                        <a class="move small" data-type="down" data-move="Spell" data-id="{{spell._id}}"><i class="fa-duotone fa-arrow-down"></i></a>
                                    </td>
                                    <td>
                                        <a class="delete small" data-delete="Spell" data-id="{{spell._id}}"><i class="fa-duotone fa-trash"></i></a>
                                    </td>
                                </tr>
                            {{/if}}
                        {{/each}}
                        <tr>
                            <td class="add-item" colspan="6">
                                <button class="add" data-add="Spell"><i class="fa-duotone fa-plus"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="skill-table">
                    <label class="skill-label container-label">
                        <p>{{localize "FI.System.Skill"}}</p>
                    </label>
                    <table class="skill-table">
                        <tr>
                            <th class="image">{{localize "FI.Skill.Image"}}</th>
                            <th>{{localize "FI.Skill.Name"}}</th>
                            <th class="medium">{{localize "FI.Skill.Cost"}}</th>
                            <th class="medium">{{localize "FI.Skill.Stat"}}</th>
                            <th class="small">{{localize "FI.Skill.Roll"}}</th>
                            <th class="small">{{localize "FI.System.Move"}}</th>
                            <th class="small">{{localize "FI.System.Delete"}}</th>
                        </tr>
                        {{#each items as |skill index|}}
                            {{#if skill.system.isSkill}}
                                <tr>
                                    <td class="edit-item" data-id="{{skill._id}}">
                                        <img src="{{skill.img}}" alt="{{skill.system.name}}"/>
                                    </td>
                                    <td class="edit-item" data-id="{{skill._id}}">
                                        <p>{{skill.system.name}}</p>
                                    </td>
                                    <td class="edit-item" data-id="{{skill._id}}">
                                        <p>{{skill.system.spCost}} {{localize "FI.System.SP"}}</p>
                                    </td>
                                    <td class="edit-item" data-id="{{skill._id}}">
                                        <p>{{localize (concat "FI.Stat." skill.system.stat)}}</p>
                                    </td>
                                    <td>
                                        <a class="item-roll rollable" title="{{localize "FI.System.Roll"}}" data-id="{{skill._id}}" data-label="{{skill.name}}" data-type="{{skill.system.stat}}" data-rollType="Skill" data-roll="{{skill.system.stat}}"><i class="fa-duotone fa-dice-d20"></i></a>
                                    </td>
                                    <td>
                                        <a class="move " data-type="up" data-move="Skill" data-id="{{skill._id}}"><i class="fa-duotone fa-arrow-up"></i></a>
                                        <a class="move small" data-type="down" data-move="Skill" data-id="{{skill._id}}"><i class="fa-duotone fa-arrow-down"></i></a>
                                    </td>
                                    <td>
                                        <a class="delete small" data-delete="Skill" data-id="{{skill._id}}"><i class="fa-duotone fa-trash"></i></a>
                                    </td>
                                </tr>
                            {{/if}}
                        {{/each}}
                        <tr>
                            <td class="add-item" colspan="6">
                                <button class="add" data-add="Skill"><i class="fa-duotone fa-plus"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="hybrid-table">
                    <label class="hybrid-label container-label">
                        <p>{{localize "FI.System.Hybrid"}}</p>
                    </label>
                    <table class="hybrid-table">
                        <tr>
                            <th class="image">{{localize "FI.Hybrid.Image"}}</th>
                            <th>{{localize "FI.Hybrid.Name"}}</th>
                            <th class="medium">{{localize "FI.Hybrid.Cost"}}</th>
                            <th class="medium">{{localize "FI.Hybrid.Stat"}}</th>
                            <th class="small">{{localize "FI.Hybrid.Roll"}}</th>
                            <th class="small">{{localize "FI.System.Move"}}</th>
                            <th class="small">{{localize "FI.System.Delete"}}</th>
                        </tr>
                        {{#each items as |hybrid index|}}
                            {{#if hybrid.system.isHybrid}}
                                <tr>
                                    <td class="edit-item" data-id="{{hybrid._id}}">
                                        <img src="{{hybrid.img}}" alt="{{hybrid.system.name}}"/>
                                    </td>
                                    <td class="edit-item" data-id="{{hybrid._id}}">
                                        <p>{{hybrid.system.name}}</p>
                                    </td>
                                    <td class="edit-item" data-id="{{hybrid._id}}">
                                        <div>
                                            <p>{{hybrid.system.mpCost}} {{localize "FI.System.MP"}}</p>
                                            <p>{{hybrid.system.spCost}} {{localize "FI.System.SP"}}</p>
                                            <p>{{hybrid.system.hpCost}} {{localize "FI.System.HP"}}</p>
                                            {{#if hybrid.system.otherCost}}
                                                <p>+</p>
                                            {{/if}}
                                        </div>
                                    </td>
                                    <td class="edit-item" data-id="{{hybrid._id}}">
                                        <p>{{localize (concat "FI.Stat." hybrid.system.stat)}}</p>
                                    </td>
                                    <td>
                                        <a class="item-roll rollable" title="{{localize "FI.System.Roll"}}" data-id="{{hybrid._id}}" data-label="{{hybrid.name}}" data-type="{{hybrid.system.stat}}" data-rollType="Hybrid" data-roll="{{hybrid.system.stat}}"><i class="fa-duotone fa-dice-d20"></i></a>
                                    </td>
                                    <td>
                                        <a class="move small" data-type="up" data-move="Hybrid" data-id="{{hybrid._id}}"><i class="fa-duotone fa-arrow-up"></i></a>
                                        <a class="move small" data-type="down" data-move="Hybrid" data-id="{{hybrid._id}}"><i class="fa-duotone fa-arrow-down"></i></a>
                                    </td>
                                    <td>
                                        <a class="delete small" data-delete="Hybrid" data-id="{{hybrid._id}}"><i class="fa-duotone fa-trash"></i></a>
                                    </td>
                                </tr>
                            {{/if}}
                        {{/each}}
                        <tr>
                            <td class="add-item" colspan="6">
                                <button class="add" data-add="Hybrid"><i class="fa-duotone fa-plus"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="transformation-table">
                    <label class="transformation-label container-label">
                        <p>{{localize "FI.System.Transformation"}}</p>
                    </label>
                    <table class="transformation-table">
                        <tr>
                            <th class="image">{{localize "FI.Transformation.Image"}}</th>
                            <th>{{localize "FI.Transformation.Name"}}</th>
                            <th class="medium">{{localize "FI.Transformation.Cost"}}</th>
                            <th class="medium">{{localize "FI.Transformation.Stat"}}</th>
                            <th class="small">{{localize "FI.System.Move"}}</th>
                            <th class="small">{{localize "FI.System.Delete"}}</th>
                        </tr>
                        {{#each items as |transformation index|}}
                            {{#if transformation.system.isTransformation}}
                                <tr>
                                    <td class="edit-item" data-id="{{transformation._id}}">
                                        <img src="{{transformation.img}}" alt="{{transformation.system.name}}"/>
                                    </td>
                                    <td class="edit-item" data-id="{{transformation._id}}">
                                        <p>{{transformation.system.name}}</p>
                                    </td>
                                    <td class="edit-item" data-id="{{transformation._id}}">
                                        <div>
                                            <p>{{transformation.system.mpCost}} {{localize "FI.System.MP"}}</p>
                                            <p>{{transformation.system.spCost}} {{localize "FI.System.SP"}}</p>
                                            <p>{{transformation.system.hpCost}} {{localize "FI.System.HP"}}</p>
                                            {{#if transformation.system.otherCost}}
                                                <p>+</p>
                                            {{/if}}
                                        </div>
                                    </td>
                                    <td class="edit-item" data-id="{{transformation._id}}">
                                        <p>{{localize (concat "FI.Stat." transformation.system.stat)}}</p>
                                    </td>
                                    <td>
                                        <a class="move small" data-type="up" data-move="Transformation" data-id="{{transformation._id}}"><i class="fa-duotone fa-arrow-up"></i></a>
                                        <a class="move small" data-type="down" data-move="Transformation" data-id="{{transformation._id}}"><i class="fa-duotone fa-arrow-down"></i></a>
                                    </td>
                                    <td>
                                        <a class="delete" data-delete="Transformation" data-id="{{transformation._id}}"><i class="fa-duotone fa-trash"></i></a>
                                    </td>
                                </tr>
                            {{/if}}
                        {{/each}}
                        <tr>
                            <td class="add-item" colspan="6">
                                <button class="add" data-add="Transformation"><i class="fa-duotone fa-plus"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="passif-table">
                    <label class="passif-label container-label">
                        <p>{{localize "FI.System.Passif"}}</p>
                    </label>
                    <table class="passif-table">
                        <tr>
                            <th class="image">{{localize "FI.Passif.Image"}}</th>
                            <th>{{localize "FI.Passif.Name"}}</th>
                            <th class="small">{{localize "FI.System.Move"}}</th>
                            <th class="small">{{localize "FI.System.Delete"}}</th>
                        </tr>
                        {{#each items as |passif index|}}
                            {{#if passif.system.isPassif}}
                                <tr>
                                    <td class="edit-item" data-id="{{passif._id}}">
                                        <img src="{{passif.img}}" alt="{{passif.system.name}}"/>
                                    </td>
                                    <td class="edit-item" data-id="{{passif._id}}">
                                        <p>{{passif.system.name}}</p>
                                    </td>
                                    <td>
                                        <a class="move small" data-type="up" data-move="Passif" data-id="{{passif._id}}"><i class="fa-duotone fa-arrow-up"></i></a>
                                        <a class="move small" data-type="down" data-move="Passif" data-id="{{passif._id}}"><i class="fa-duotone fa-arrow-down"></i></a>
                                    </td>
                                    <td>
                                        <a class="delete small" data-delete="Passif" data-id="{{passif._id}}"><i class="fa-duotone fa-trash"></i></a>
                                    </td>
                                </tr>
                            {{/if}}
                        {{/each}}
                        <tr>
                            <td class="add-item" colspan="6">
                                <button class="add" data-add="Passif"><i class="fa-duotone fa-plus"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
                <script>
                    $("td.edit-item").hover(
                        function() {
                            $(this).parent().css("background-color", "rgba(68, 68, 68, 0.122)");
                        },
                        function() {
                            $(this).parent().css("background-color", "");
                        }
                    );
                </script>
            </div>
        </section>

        {{!-- Notes Tab --}}
        <section class="sheet-tab tab" data-tab="notes">
            <div class="description">
                <div class="description-language">
                    <table>
                        <tr>
                            <th>{{localize "FI.Description.Language"}}</th>
                            <th class="small">{{localize "FI.Description.Speaking"}}</th>
                            <th class="small">{{localize "FI.Description.Reading"}}</th>
                            <th class="small">{{localize "FI.Description.Writing"}}</th>
                            <th class="small">{{localize "FI.System.Move"}}</th>
                            <th class="small">{{localize "FI.System.Delete"}}</th>
                        </tr>
                            {{#each items as |language index|}}
                                {{#if language.system.isLanguage}}
                                    <tr>
                                        <td data-id="{{language._id}}">
                                            <input class="item-input" type="text" name="system.languages.{{index}}.name" value="{{language.system.name}}" list="languageList" data-id="{{language._id}}" data-field="system.name"/>
                                        </td>
                                        <td>
                                            {{#if language.system.speaking}}
                                                <i class="fa-duotone fa-check item-checkbox" data-id="{{language._id}}" data-type="speaking"></i>
                                            {{else}}
                                                <i class="fa-duotone fa-times item-checkbox" data-id="{{language._id}}" data-type="speaking"></i>
                                            {{/if}}
                                        </td>
                                        <td>
                                            {{#if language.system.reading}}
                                                <i class="fa-duotone fa-check item-checkbox" data-id="{{language._id}}" data-type="reading"></i>
                                            {{else}}
                                                <i class="fa-duotone fa-times item-checkbox" data-id="{{language._id}}" data-type="reading"></i>
                                            {{/if}}
                                        </td>
                                        <td>
                                            {{#if language.system.writing}}
                                                <i class="fa-duotone fa-check item-checkbox" data-id="{{language._id}}" data-type="writing"></i>
                                            {{else}}
                                                <i class="fa-duotone fa-times item-checkbox" data-id="{{language._id}}" data-type="writing"></i>
                                            {{/if}}
                                        </td>
                                        <td>
                                            <a class="move small" data-type="up" data-move="Language" data-id="{{language._id}}"><i class="fa-duotone fa-arrow-up"></i></a>
                                            <a class="move small" data-type="down" data-move="Language" data-id="{{language._id}}"><i class="fa-duotone fa-arrow-down"></i></a>
                                        </td>
                                        <td>
                                            <a class="delete small" data-delete="Language" data-id="{{language._id}}"><i class="fa-duotone fa-trash"></i></a>
                                        </td>
                                    </tr>
                                {{/if}}
                            {{/each}}
                    </table>
                    <datalist id="languageList">
                        <script>
                            if (typeof game.settings.get("polyglot", "customLanguages") !== "undefined") {
                                var customLanguageList = game.settings.get("polyglot", "customLanguages").split(",");
                            }
                            for (let i = 0; i < customLanguageList.length; i++) {
                                var option = document.createElement("option");
                                option.value = customLanguageList[i];
                                document.getElementById("languageList").appendChild(option);
                            }
                        </script>
                    </datalist>
                    <button class="add language-add" data-add="Language"><i class="fa-duotone fa-plus"></i></button>
                </div>
                <div class="description-left">
                    <div class="description-biography">
                        <label>{{localize "FI.Description.Biography"}}</label>
                        <textarea class="richTextArea" name="system.biography">{{data.system.biography}}</textarea>
                    </div>
                    <div class="description-appearance">
                        <label>{{localize "FI.Description.Appearance"}}</label>
                        <textarea class="richTextArea" name="system.appearance">{{data.system.appearance}}</textarea>
                    </div>
                </div>
                <div class="description-right">
                    <div class="description-personality">
                        <label>{{localize "FI.Description.Personality"}}</label>
                        <textarea class="richTextArea" name="system.personality">{{data.system.personality}}</textarea>
                    </div>
                    <div class="description-background">
                        <label>{{localize "FI.Description.Background"}}</label>
                        <textarea class="richTextArea" name="system.background">{{data.system.background}}</textarea>
                    </div>
                </div>
                <div class="description-notes">
                    <label>{{localize "FI.Description.Notes"}}</label>
                    <textarea class="richTextArea" name="system.notes">{{data.system.notes}}</textarea>
                </div>
            </div>
        </section>
    </main>

    {{!-- Sheet Footer --}}
    <footer class="sheet-footer footer">
        <span class="sheet-footer-right">
            <label>{{localize "FI.System.DisplayAdvancedRoll"}}</label>
            <input type="checkbox" name="system.displayAdvancedRoll" {{#if data.system.displayAdvancedRoll}}checked{{/if}}/>
        </span>
    </footer>
</form>