<tr>
  {{#if (or data.system.isHybrid data.system.isTransformation data.system.isSpell)}}
  <td class="MPCost" {{#if data.system.isHybrid}} colspan="3" {{/if}}>
    <label>{{localize "FI.System.Attributes.MPCost"}}</label>
    <input type="number" name="system.mpCost" value="{{data.system.mpCost}}" title="{{localize "FI.System.Attributes.MPCost"}}" />
    <label>{{localize "FI.System.Attributes.MP"}}</label>
  </td>
  {{/if}}
  {{#if (or data.system.isHybrid data.system.isTransformation data.system.isSkill)}}
  <td class="SPCost" {{#if data.system.isHybrid}} colspan="3" {{/if}}>
    <label>{{localize "FI.System.Attributes.SPCost"}}</label>
    <input type="number" name="system.spCost" value="{{data.system.spCost}}" title="{{localize "FI.System.Attributes.SPCost"}}" />
    <label>{{localize "FI.System.Attributes.SP"}}</label>
  </td>
  {{/if}}
{{#if (or data.system.isHybrid data.system.isTransformation)}}
  </tr>
  <tr>
{{/if}}
{{#if (or data.system.isHybrid data.system.isTransformation)}}
  <td class="HPCost" {{#if data.system.isHybrid}} colspan="2" {{/if}}>
    <label>{{localize "FI.System.Attributes.HPCost"}}</label>
    <input type="number" name="system.hpCost" value="{{data.system.hpCost}}" title="{{localize "FI.System.Attributes.HPCost"}}" />
    <label>{{localize "FI.System.Attributes.HP"}}</label>
  </td>
  <td class="otherCost" {{#if data.system.isHybrid}} colspan="2" {{/if}}>
    <label>{{localize "FI.HybridSheet.OtherCost"}}</label>
    <input type="text" name="system.otherCost" value="{{data.system.otherCost}}" title="{{localize "FI.HybridSheet.OtherCost"}}" />
  </td>
{{/if}}
{{#if (or data.system.isHybrid data.system.isSkill data.system.isSpell)}}
  {{> "systems/firardfortress/templates/parts/items/ranged.hbs" data=data}}
{{/if}}
</tr>
{{#if (or data.system.isHybrid data.system.isSpell data.system.isSkill data.system.isTransformation)}}
{{> "systems/firardfortress/templates/parts/items/statInput.hbs" data=data }}
{{/if}}