<div class="sheet-header-1">
  <img
    class="profile-img"
    src="{{data.img}}"
    data-edit="img"
    title="{{data.name}}"
  />
  <textarea
    type="text"
    name="name"
    value="{{data.name}}"
    placeholder="{{localize 'FI.System.Name'}}"
  >{{data.name}}</textarea>
</div>