<div class="rolls-label">
  <label>{{localize "FI.System.Rolling.Rolls"}}</label>
  <a
    class="rollable"
    title="{{localize 'FI.System.Rolling.Roll'}}"
    data-type="attackRoll"
    data-id="{{data._id}}"
    data-actor="{{item.actor.id}}"
    data-from="item">
    <i class="fa-duotone fa-dice-d20"></i>
  </a>
</div>
<div class="rolls">
  {{#each data.system.roll as |roll index|}}
    <div class="roll">
      <input
        class="number"
        type="number"
        name="system.roll.{{@index}}.dice"
        value="{{roll.dice}}"
        title="{{localize 'FI.System.Dice'}}"
      />
      <input
        class="dice"
        name="system.roll.{{@index}}.type"
        value="{{roll.type}}"
        title="{{localize 'FI.System.DiceType'}}"
        list="diceTypes"
      />
      <datalist id="diceTypes">
        <option value="d4" />
        <option value="d6" />
        <option value="d8" />
        <option value="d10" />
        <option value="d12" />
        <option value="d20" />
        <option value="d100" />
      </datalist>
      <span>+</span>
      <input
        class="number"
        type="number"
        name="system.roll.{{@index}}.bonus"
        value="{{roll.bonus}}"
        title="{{localize 'FI.System.Gameplay.Bonus'}}"
      />
      <input
        class="text"
        type="text"
        name="system.roll.{{@index}}.damageType"
        value="{{roll.damageType}}"
        title="{{localize 'FI.System.DamageType'}}"
      />
      <button
        class="item-delete"
        title="{{localize 'FI.System.Misc.Delete'}}"
        data-index="{{@index}}"
        data-type="deleteRoll"
        data-id="{{../data._id}}"
        data-actor="{{../item.actor.id}}"
      ><i class="fas fa-trash"></i></button>
    </div>
  {{/each}}
</div>
<button
  class="item-add"
  title="{{localize 'FI.System.Add'}}"
  data-type="addRoll"
  data-id="{{data._id}}"
  data-actor="{{item.actor.id}}">
  <i class="fas fa-plus"></i>
</button>