<tr class="bottom">
  <td class="stat" {{#if data.system.isHybrid}} colspan="3" {{/if}}>
    <label>{{localize "FI.Stat.Label"}}</label>
    <select name="system.stat" value="{{data.system.stat}}">
      <option value="None">{{localize "FI.Stat.None"}}</option>
      <option value="STR">{{localize "FI.Stat.STR"}}</option>
      <option value="DEX">{{localize "FI.Stat.DEX"}}</option>
      <option value="CON">{{localize "FI.Stat.CON"}}</option>
      <option value="INT">{{localize "FI.Stat.INT"}}</option>
      <option value="WIS">{{localize "FI.Stat.WIS"}}</option>
      <option value="CHA">{{localize "FI.Stat.CHA"}}</option>
      <option value="LUK">{{localize "FI.Stat.LUK"}}</option>
      <option value="WIL">{{localize "FI.Stat.WIL"}}</option>
      <option value="HON">{{localize "FI.Stat.HON"}}</option>
      <script>
        document.querySelector("select[name='system.stat']").value = "{{data.system.stat}}";
      </script>
    </select>
  </td>
  <td class="value" {{#if data.system.isHybrid}} colspan="3" {{/if}}>
    <label>{{localize "FI.System.Gameplay.Bonus"}}</label>
    <input type="number" name="system.value" value="{{data.system.value}}" />
  </td>
</tr>
<tr>
  <td class="notes" {{#if data.system.isHybrid}} colspan="6" {{else}} colspan="2" {{/if}}>
    <label>{{localize "FI.System.Rolling.RollFormula"}}</label>
    <aside>
      <p>1d20{{data.system.rollDetails.formula}} {{data.system.rollDetails.stance}}</p>
      <a
      class="rollable"
      title="{{localize 'FI.System.Rolling.Roll'}}"
      data-type="itemRoll"
      data-id="{{data._id}}"
      data-actor="{{item.actor.id}}"
      data-from="item">
      <i class="fa-duotone fa-dice-d20"></i></a>
    </aside>
  </td>
</tr>