<div class="header-top">
  <div class="header-top-left">
    <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
    <div>
      <label>{{localize "FI.System.Misc.Name"}}</label>
      <input type="text" name="name" value="{{data.name}}" />
    </div>
  </div>
  <div class="header-top-right">
    <table>
      {{#if (eq data.type "NPC")}}
      <tr>
        <td>
          <label>{{localize "FI.System.Character.Class"}}</label>
          <input type="text" name="system.class" value="{{data.system.class}}" placeholder="{{localize "FI.System.Class"}}" />
        </td>
      </tr>
      <tr>
        <td>
          <label>{{localize "FI.System.Character.Race"}}</label>
          <input type="text" name="system.race" value="{{data.system.race}}" placeholder="{{localize "FI.System.Race"}}" />
        </td>
      </tr>
      <tr>
        <td>
          <label>{{localize "FI.Stance.Label"}}</label>
          <select name="system.stance">
            <option {{#if (eq data.system.stance "" )}}selected{{/if}} disabled>{{localize "FI.Stance.UI.SelectPrompt"}}
            </option>
            <option value="Aggressive" {{#if (eq data.system.stance "Aggressive" )}}selected{{/if}}>{{localize "FI.Stance.Options.Aggressive"}}</option>
            <option value="Defensive" {{#if (eq data.system.stance "Defensive" )}}selected{{/if}}>{{localize "FI.Stance.Options.Defensive"}}</option>
            <option value="Focus" {{#if (eq data.system.stance "Focus" )}}selected{{/if}}>{{localize "FI.Stance.Options.Focus"}}</option>
            <option value="Concentration" {{#if (eq data.system.stance "Concentration" )}}selected{{/if}}>{{localize "FI.Stance.Options.Concentration"}}</option>
            <option value="Elemental" {{#if (eq data.system.stance "Elemental" )}}selected{{/if}}>{{localize "FI.Stance.Options.Elemental"}}</option>
        </td>
      </tr>
      {{else}}
      <tr>
        {{#if (eq data.type "PC")}}
        <td>
          <label>{{localize "FI.System.Character.PlayerName"}}</label>
          <input type="text" name="system.playerName" value="{{data.system.playerName}}" placeholder="{{localize "FI.System.Character.PlayerName"}}" />
        </td>
        <td>
          <label>{{localize "FI.System.Character.Guild"}}</label>
          <input type="text" name="system.guild" value="{{data.system.guild}}" placeholder="{{localize "FI.System.Character.Guild"}}" />
        </td>
        {{else if (eq data.type "followerNPC")}}
        <td colspan="2">
          <label>{{localize "FI.System.Character.PCAffiliation"}}</label>
          <input type="text" name="system.Character.PCaffiliation" value="{{data.system.PCaffiliation}}" placeholder="{{localize "FI.System.Character.PCAffiliation"}}" />
        </td>
        {{/if}}
        <td>
          <label>{{localize "FI.System.Gameplay.Level"}}</label>
          <input type="number" name="system.level" value="{{data.system.level}}" placeholder="{{localize "FI.System.Gameplay.Level"}}" />
        </td>
      </tr>
      <tr>
        <td>
          <label>{{localize "FI.System.Character.Class"}}</label>
          <input type="text" name="system.class" value="{{data.system.class}}" placeholder="{{localize "FI.System.Character.Class"}}" />
        </td>
        <td>
          <label>{{localize "FI.System.Character.Race"}}</label>
          <input type="text" name="system.race" value="{{data.system.race}}" placeholder="{{localize "FI.System.Character.Race"}}" />
        </td>
        <td>
          <label>{{localize "FI.Stance.Label"}}</label>
          <select name="system.stance">
            <option {{#if (eq data.system.stance "" )}}selected{{/if}} disabled>{{localize "FI.Stance.UI.SelectPrompt"}}
            </option>
            <option value="Aggressive" {{#if (eq data.system.stance "Aggressive" )}}selected{{/if}}>{{localize "FI.Stance.Options.Aggressive"}}</option>
            <option value="Defensive" {{#if (eq data.system.stance "Defensive" )}}selected{{/if}}>{{localize "FI.Stance.Options.Defensive"}}</option>
            <option value="Focus" {{#if (eq data.system.stance "Focus" )}}selected{{/if}}>{{localize "FI.Stance.Options.Focus"}}</option>
            <option value="Concentration" {{#if (eq data.system.stance "Concentration" )}}selected{{/if}}>{{localize "FI.Stance.Options.Concentration"}}</option>
            <option value="Elemental" {{#if (eq data.system.stance "Elemental" )}}selected{{/if}}>{{localize "FI.Stance.Options.Elemental"}}</option>
          </select>
        </td>
      </tr>
      <tr class="header-bottom">
        <td class="weight">
          <label><strong>{{localize "FI.System.Equipment.ItemWeight"}}</strong></label>
          <span>/</span>
          <label>{{localize "FI.System.Equipment.ItemMaxWeight"}}</label>
          <div class="weight">
            <input type="number" name="system.weight.value" value="{{data.system.weight.value}}" disabled />
            {{localize "FI.System.Misc.WeightUnit"}}
            <span>/</span>
            <input type="number" name="system.weight.max" value="{{data.system.weight.max}}" placeholder="{{localize "FI.System.Equipment.ItemMaxWeight"}}" />
            {{localize "FI.System.Misc.WeightUnit"}}
          </div>
          <div class="barMax weightBar">
            <div class="barValue weightBarValue"></div>
          </div>
        </td>
        <td>
          <label>{{localize "FI.System.Gameplay.BaseSpeed"}}</label>
          <input type="number" name="system.speed.base" value="{{data.system.speed.base}}" placeholder="{{localize "
            FI.System.BaseSpeed"}}" />
          {{localize "FI.System.Misc.SpeedUnit"}}
        </td>
        <td>
          <label><strong>{{localize "FI.System.Gameplay.RealSpeed"}}</strong></label>
          <input type="number" name="system.speed.value" value="{{data.system.speed.value}}" disabled />
          <strong>{{localize "FI.System.Misc.SpeedUnit"}}</strong>
        </td>
      </tr>
      {{/if}}
    </table>
  </div>
</div>