<section class="sheet-tab tab" data-tab="main">
  <div class="main-tab">
    <table class="main-tab">
      <tr>
        <td colspan="2">
          <div class="container weapon">
            <label class="weapon-label container-label">
              <p>{{localize "FI.ItemLabel.Weapon"}}</p>
            </label>
            <table class="weapon-tab">
              <tr>
                <th class="image">{{localize "FI.System.Misc.Image"}}</th>
                <th>{{localize "FI.System.Misc.Name"}}</th>
                <th class="medium">{{localize "FI.System.Misc.Name"}}</th>
                <th class="small">{{localize "FI.System.Equipment.Equipped"}}</th>
                <th class="small">{{localize "FI.System.Misc.Quantity"}}</th>
                <th class="small">{{localize "FI.System.Rolling.Roll"}}</th>
                <th class="small">{{localize "FI.System.Misc.Move"}}</th>
                <th class="small">{{localize "FI.System.Misc.Delete"}}</th>
              </tr>
              {{#each items as |weapon index|}}
                {{#if weapon.system.isWeapon}}
                  {{> "systems/firardfortress/templates/parts/actors/tabs/itemRows.hbs" item=weapon index=index actor=../this.actor._id}}
                {{/if}}
              {{/each}}
              <tr>
                <td colspan="6">
                  <button class="add" data-add="Weapon" data-actor="{{this.actor._id}}">
                    <i class="fa-duotone fa-plus"></i>
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="container equipment">
            <label class="equipment-label container-label">
              <p>{{localize "FI.ItemLabel.Equipment"}}</p>
            </label>
            <table class="equipment-tab">
              <tr>
                <th class="image">{{localize "FI.System.Misc.Image"}}</th>
                <th>{{localize "FI.System.Misc.Name"}}</th>
                <th class="medium">{{localize "FI.Equipment.ArmorGiven"}}</th>
                <th class="medium">{{localize "FI.Equipment.Type"}}</th>
                <th class="small">{{localize "FI.System.Equipment.Equipped"}}</th>
                <th class="small">{{localize "FI.System.Misc.Quantity"}}</th>
                <th class="small">{{localize "FI.System.Misc.Move"}}</th>
                <th class="small">{{localize "FI.System.Misc.Delete"}}</th>
              </tr>
              {{#each items as |equipment index|}}
                {{#if equipment.system.isEquipment}}
                  {{> "systems/firardfortress/templates/parts/actors/tabs/itemRows.hbs" item=equipment index=index actor=../this.actor._id}}
                {{/if}}
              {{/each}}
              <tr>
                <td colspan="6">
                  <button class="add" data-add="Equipment" data-actor="{{this.actor._id}}">
                    <i class="fa-duotone fa-plus"></i>
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="container misc">
            <label class="misc-label container-label">
              <p>{{localize "FI.ItemLabel.Misc"}}</p>
            </label>
            <table class="misc-tab">
              <tr>
                <th class="image">{{localize "FI.System.Misc.Image"}}</th>
                <th>{{localize "FI.System.Misc.Name"}}</th>
                <th class="small">{{localize "FI.System.Misc.Quantity"}}</th>
                <th class="small">{{localize "FI.System.Misc.Move"}}</th>
                <th class="small">{{localize "FI.System.Misc.Delete"}}</th>
              </tr>
              {{#each items as |misc index|}}
                {{#if misc.system.isMisc}}
                  {{> "systems/firardfortress/templates/parts/actors/tabs/itemRows.hbs" item=misc index=index actor=../this.actor._id}}
                {{/if}}
              {{/each}}
              <tr>
                <td colspan="4">
                  <button class="add" data-add="Misc" data-actor="{{this.actor._id}}">
                    <i class="fa-duotone fa-plus"></i>
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </td>
        <td>
          <div class="container money">
            <label class="money-label container-label">
              <p>{{localize "FI.ItemLabel.Money"}}</p>
            </label>
            <table class="money-tab">
              <tr>
                <th class="image">{{localize "FI.System.Misc.Image"}}</th>
                <th>{{localize "FI.System.Misc.Name"}}</th>
                <th>{{localize "FI.Money.Value"}}</th>
                <th>{{localize "FI.System.Misc.Quantity"}}</th>
                <th class="small">{{localize "FI.System.Misc.Move"}}</th>
                <th class="small">{{localize "FI.System.Misc.Delete"}}</th>
              </tr>
              {{#each items as |money index|}}
                {{#if money.system.isMoney}}
                  {{> "systems/firardfortress/templates/parts/actors/tabs/itemRows.hbs" item=money index=index actor=../this.actor._id}}
                {{/if}}
              {{/each}}
              <tr>
                <td colspan="2">
                  <label>{{localize "FI.System.Economy.TotalMoney"}}</label>
                  <p>{{data.system.money.value}} {{localize "FI.System.Economy.SC"}}</p>
                </td>
                <td colspan="2">
                  <label>{{localize "FI.System.Economy.TotalWorth"}}</label>
                  <p>{{data.system.money.worth}} {{localize "FI.System.Economy.SC"}}</p>
                </td>
              </tr>
              <tr>
                <td colspan="4">
                  <button class="add" data-add="Money" data-actor="{{this.actor._id}}">
                    <i class="fa-duotone fa-plus"></i>
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>
  </div>
</section>