<section class="sheet-tab tab" data-tab="proficiencies">
  <div class="proficiency-tab">
    <table class="proficiency-table container-label">
      <tr>
        <th class="image">{{localize "FI.System.Misc.Image"}}</th>
        <th>{{localize "FI.System.Misc.Name"}}</th>
        <th class="medium">{{localize "FI.System.Misc.Name"}}</th>
        <th class="medium">{{localize "FI.System.Gameplay.Bonus"}}</th>
        <th class="small">{{localize "FI.System.Rolling.Roll"}}</th>
        <th class="small">{{localize "FI.System.Misc.Move"}}</th>
        <th class="small">{{localize "FI.System.Misc.Delete"}}</th>
      </tr>
      {{#each items as |proficiency index|}}
        {{#if proficiency.system.isProficiency}}
          {{> "systems/firardfortressdev/templates/parts/actors/tabs/itemRows.hbs" item=proficiency index=index actor=../this.actor._id}}
        {{/if}}
      {{/each}}
      <tr>
        <td class="add-item" colspan="6">
          <button class="add" data-add="Proficiency" data-actor="{{this.actor._id}}">
            <i class="fa-duotone fa-plus"></i>
          </button>
        </td>
      </tr>
    </table>
  </div>
</section>