<section class="sheet-tab tab" data-tab="spells">
  <div class="spell-tab">
    <div class="spell-table">
      <label class="spell-label container-label">
        <p>{{localize "FI.System.Abilities.Spell"}}</p>
      </label>
      <table class="spell-table">
        <tr>
          <th class="image">{{localize "FI.System.Misc.Image"}}</th>
          <th>{{localize "FI.System.Misc.Name"}}</th>
          <th class="medium">{{localize "FI.System.Gameplay.Cost"}}</th>
          <th class="medium">{{localize "FI.System.Misc.Name"}}</th>
          <th class="small">{{localize "FI.System.Rolling.Roll"}}</th>
          <th class="small">{{localize "FI.System.Misc.Move"}}</th>
          <th class="small">{{localize "FI.System.Misc.Delete"}}</th>
        </tr>
        {{#each items as |spell index|}}
          {{#if spell.system.isSpell}}
            {{> "systems/firardfortressdev/templates/parts/actors/tabs/itemRows.hbs" item=spell index=index actor=../this.actor._id}}
          {{/if}}
        {{/each}}
        <tr>
          <td class="add-item" colspan="6">
            <button class="add" data-add="Spell" data-actor="{{this.actor._id}}">
              <i class="fa-duotone fa-plus"></i>
            </button>
          </td>
        </tr>
      </table>
    </div>
    <div class="skill-table">
      <label class="skill-label container-label">
        <p>{{localize "FI.System.Abilities.Skill"}}</p>
      </label>
      <table class="skill-table">
        <tr>
          <th class="image">{{localize "FI.System.Misc.Image"}}</th>
          <th>{{localize "FI.System.Misc.Name"}}</th>
          <th class="medium">{{localize "FI.System.Gameplay.Cost"}}</th>
          <th class="medium">{{localize "FI.System.Misc.Name"}}</th>
          <th class="small">{{localize "FI.System.Rolling.Roll"}}</th>
          <th class="small">{{localize "FI.System.Misc.Move"}}</th>
          <th class="small">{{localize "FI.System.Misc.Delete"}}</th>
        </tr>
        {{#each items as |skill index|}}
          {{#if skill.system.isSkill}}
            {{> "systems/firardfortressdev/templates/parts/actors/tabs/itemRows.hbs" item=skill index=index actor=../this.actor._id}}
          {{/if}}
        {{/each}}
        <tr>
          <td class="add-item" colspan="6">
            <button class="add" data-add="Skill" data-actor="{{this.actor._id}}">
              <i class="fa-duotone fa-plus"></i>
            </button>
          </td>
        </tr>
      </table>
    </div>
    <div class="hybrid-table">
      <label class="hybrid-label container-label">
        <p>{{localize "FI.System.Abilities.Hybrid"}}</p>
      </label>
      <table class="hybrid-table">
        <tr>
          <th class="image">{{localize "FI.System.Misc.Image"}}</th>
          <th>{{localize "FI.System.Misc.Name"}}</th>
          <th class="medium">{{localize "FI.System.Gameplay.Cost"}}</th>
          <th class="medium">{{localize "FI.System.Misc.Name"}}</th>
          <th class="small">{{localize "FI.System.Rolling.Roll"}}</th>
          <th class="small">{{localize "FI.System.Misc.Move"}}</th>
          <th class="small">{{localize "FI.System.Misc.Delete"}}</th>
        </tr>
        {{#each items as |hybrid index|}}
          {{#if hybrid.system.isHybrid}}
            {{> "systems/firardfortressdev/templates/parts/actors/tabs/itemRows.hbs" item=hybrid index=index actor=../this.actor._id}}
          {{/if}}
        {{/each}}
        <tr>
          <td class="add-item" colspan="6">
            <button class="add" data-add="Hybrid" data-actor="{{this.actor._id}}">
              <i class="fa-duotone fa-plus"></i>
            </button>
          </td>
        </tr>
      </table>
    </div>
    <div class="transformation-table">
      <label class="transformation-label container-label">
        <p>{{localize "FI.System.Abilities.Transformation"}}</p>
      </label>
      <table class="transformation-table">
        <tr>
          <th class="image">{{localize "FI.System.Misc.Image"}}</th>
          <th>{{localize "FI.System.Misc.Name"}}</th>
          <th class="medium">{{localize "FI.System.Gameplay.Cost"}}</th>
          <th class="medium">{{localize "FI.System.Misc.Name"}}</th>
          <th class="small">{{localize "FI.System.Rolling.Roll"}}</th>
          <th class="small">{{localize "FI.System.Misc.Move"}}</th>
          <th class="small">{{localize "FI.System.Misc.Delete"}}</th>
        </tr>
        {{#each items as |transformation index|}}
          {{#if transformation.system.isTransformation}}
            {{> "systems/firardfortressdev/templates/parts/actors/tabs/itemRows.hbs" item=transformation index=index actor=../this.actor._id}}
          {{/if}}
        {{/each}}
        <tr>
          <td class="add-item" colspan="6">
            <button class="add" data-add="Transformation" data-actor="{{this.actor._id}}">
              <i class="fa-duotone fa-plus"></i>
            </button>
          </td>
        </tr>
      </table>
    </div>
    <div class="passif-table">
      <label class="passif-label container-label">
        <p>{{localize "FI.System.Abilities.Passif"}}</p>
      </label>
      <table class="passif-table">
        <tr>
          <th class="image">{{localize "FI.System.Misc.Image"}}</th>
          <th>{{localize "FI.System.Misc.Name"}}</th>
          <th class="small">{{localize "FI.System.Misc.Move"}}</th>
          <th class="small">{{localize "FI.System.Misc.Delete"}}</th>
        </tr>
        {{#each items as |passif index|}}
          {{#if passif.system.isPassif}}
            {{> "systems/firardfortressdev/templates/parts/actors/tabs/itemRows.hbs" item=passif index=index actor=../this.actor._id}}
          {{/if}}
        {{/each}}
        <tr>
          <td class="add-item" colspan="6">
            <button class="add" data-add="Passif" data-actor="{{this.actor._id}}">
              <i class="fa-duotone fa-plus"></i>
            </button>
          </td>
        </tr>
      </table>
    </div>
    <script>
      $("td.edit-item").hover( function () {
      $(this).parent().css("background-color", "rgba(68, 68, 68, 0.122)"); },
      function () { $(this).parent().css("background-color", ""); } );
    </script>
  </div>
</section>